
<table id="adaptersettingsformtable" class="nicetable ui-widget" style="width:100%">
	<tr>
		<td>Server Url</td></td>
		<td ><input type='text' style="width:80%" class='inputText adapter-setting ui-corner-all' id="address" name='address'>
	</tr>

	<tr>
		<td>Query Timeout (ms)</td>
		<td><input type='number' class="inputText adapter-setting ui-corner-all" id='query_timeout' name='query_timeout' value='200' min="0" max="100000" required>
	</tr>
	
	<tr>
		<td>Number of Devices Configured</td>
		<td><label type='number' id="device_num" name='device_num' >0</label></td>
	</tr>
	<tr><td colspan="2">&nbsp;</td></tr>
</table>
