<table id="plugin_table" class="tablesorter nicetable noauto">
	<thead>
		<tr>
			<th class="ui-widget-header">Measurement</th>
			<th class="ui-widget-header">Value</th>
			<th class="ui-widget-header">Unit</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="ui-widget-content">Operation Time</td>
			<td id="Operation_Time" class="ui-widget-content">-</td>
			<td class="ui-widget-content">minute</td>
		</tr>
		
		<tr>
			<td class="ui-widget-content">BTU Meter Reading</td>
			<td id="BTU_Meter_Reading" class="ui-widget-content">-</td>
			<td class="ui-widget-content">kWh</td>
		</tr>
		
		<tr>
			<td class="ui-widget-content">CH Water Consumption</td>
			<td id="CH_Water_Consumption" class="ui-widget-content">-</td>
			<td class="ui-widget-content">Wh</td>
		</tr>
		
		<tr>
			<td class="ui-widget-content">Water Volume Reading</td>
			<td id="Water_Volume_Reading" class="ui-widget-content">-</td>
			<td class="ui-widget-content">cu m</td>
		</tr>
		
		<tr>
			<td class="ui-widget-content">Water Volume</td>
			<td id="Water_Volume" class="ui-widget-content">-</td>
			<td class="ui-widget-content">cu m</td>
		</tr>
		
		<tr>
			<td class="ui-widget-content">Flow Rate</td>
			<td id="Flow_Rate" class="ui-widget-content">-</td>
			<td class="ui-widget-content">l/s</td>
		</tr>
		
		<tr>
			<td class="ui-widget-content">CH Supply Temp</td>
			<td id="CH_Supply_Temp" class="ui-widget-content">-</td>
			<td class="ui-widget-content">C</td>
		</tr>
		
		<tr>
			<td class="ui-widget-content">CH Return Temp</td>
			<td id="CH_Return_Temp" class="ui-widget-content">-</td>
			<td class="ui-widget-content">C</td>
		</tr>
		
		<tr>
			<td class="ui-widget-content">CH Temp Diff</td>
			<td id="CH_Temp_Diff" class="ui-widget-content">-</td>
			<td class="ui-widget-content">C</td>
		</tr>
		
		<tr>
			<td class="ui-widget-content">Cooling Load kWc</td>
			<td id="Cooling_Load_kWc" class="ui-widget-content">-</td>
			<td class="ui-widget-content">kWc</td>
		</tr>
		
		<tr>
			<td class="ui-widget-content">Cooling Load</td>
			<td id="Cooling_Load" class="ui-widget-content">-</td>
			<td class="ui-widget-content">RT</td>
		</tr>
		
		<tr>
			<td class="ui-widget-content">CH Water Consumption RTH</td>
			<td id="CH_Water_Consumption_RTH" class="ui-widget-content">-</td>
			<td class="ui-widget-content">RTh</td>
		</tr>
		
	</tbody >
</table>