<table id="plugin_table" class="tablesorter nicetable noauto">
	<thead>
		<tr>
			<th class="ui-widget-header" width="50%">Measure</th>
			<th class="ui-widget-header" width="20%">Value</th>
			<th class="ui-widget-header" width="20%">Unit</th>
			<th class="ui-widget-header" width="10%">Channel</th>
			
		</tr>
	</thead>
	<tbody>
	
		<tr>
			<td class="ui-widget-content">AccX (BMA280 Accelerometer X)</td>
			<td id="bma280_x" class="ui-widget-content">-</td>
			<td class="ui-widget-content">g</td>
			<td class="ui-widget-content">0</td>
		</tr>
		
		<tr>
			<td class="ui-widget-content">AccY (BMA280 Accelerometer Y)</td>
			<td id="bma280_y" class="ui-widget-content">-</td>
			<td class="ui-widget-content">g</td>
			<td class="ui-widget-content">0</td>
		</tr>
		
		<tr>
			<td class="ui-widget-content">AccZ (BMA280 Accelerometer Z)</td>
			<td id="bma280_z" class="ui-widget-content">-</td>
			<td class="ui-widget-content">g</td>
			<td class="ui-widget-content">0</td>
		</tr>
		
		<tr>
			<td class="ui-widget-content">GyroX (BMG160 Gyroscope X)</td>
			<td id="bmg160_x" class="ui-widget-content">-</td>
			<td class="ui-widget-content">deg</td>
			<td class="ui-widget-content">1</td>
		</tr>
		
		<tr>
			<td class="ui-widget-content">GyroY (BMG160 Gyroscope Y)</td>
			<td id="bmg160_y" class="ui-widget-content">-</td>
			<td class="ui-widget-content">deg</td>
			<td class="ui-widget-content">1</td>
		</tr>
		
		<tr>
			<td class="ui-widget-content">GyroZ (BMG160 Gyroscope Z)</td>
			<td id="bmg160_z" class="ui-widget-content">-</td>
			<td class="ui-widget-content">deg</td>
			<td class="ui-widget-content">1</td>
		</tr>
		
		<tr>
			<td class="ui-widget-content">AccX (BMI160 Accelerometer X)</td>
			<td id="bmi160_a_x" class="ui-widget-content">-</td>
			<td class="ui-widget-content">g</td>
			<td class="ui-widget-content">2</td>
		</tr>
		
		<tr>
			<td class="ui-widget-content">AccY (BMI160 Accelerometer Y)</td>
			<td id="bmi160_a_y" class="ui-widget-content">-</td>
			<td class="ui-widget-content">g</td>
			<td class="ui-widget-content">2</td>
		</tr>
		
		<tr>
			<td class="ui-widget-content">AccZ (BMI160 Accelerometer Z)</td>
			<td id="bmi160_a_z" class="ui-widget-content">-</td>
			<td class="ui-widget-content">g</td>
			<td class="ui-widget-content">2</td>
		</tr>
		
		<tr>
			<td class="ui-widget-content">GyroX (BMI160 Gyroscope X)</td>
			<td id="bmi160_g_x" class="ui-widget-content">-</td>
			<td class="ui-widget-content">deg</td>
			<td class="ui-widget-content">2</td>
		</tr>
		
		<tr>
			<td class="ui-widget-content">GyroY (BMI160 Gyroscope Y)</td>
			<td id="bmi160_g_y" class="ui-widget-content">-</td>
			<td class="ui-widget-content">deg</td>
			<td class="ui-widget-content">2</td>
		</tr>
		
		<tr>
			<td class="ui-widget-content">GyroZ (BMI160 Gyroscope Z)</td>
			<td id="bmi160_g_z" class="ui-widget-content">-</td>
			<td class="ui-widget-content">deg</td>
			<td class="ui-widget-content">2</td>
		</tr>
		
		<tr>
			<td class="ui-widget-content">MagX (BMM150 Magnetometer X)</td>
			<td id="bmm150_x" class="ui-widget-content">-</td>
			<td class="ui-widget-content">uT</td>
			<td class="ui-widget-content">3</td>
		</tr>
		
		<tr>
			<td class="ui-widget-content">MagY (BMM150 Magnetometer Y)</td>
			<td id="bmm150_y" class="ui-widget-content">-</td>
			<td class="ui-widget-content">uT</td>
			<td class="ui-widget-content">3</td>
		</tr>
		
		
		<tr>
			<td class="ui-widget-content">MagZ (BMM150 Magnetometer Z)</td>
			<td id="bmm150_z" class="ui-widget-content">-</td>
			<td class="ui-widget-content">uT</td>
			<td class="ui-widget-content">3</td>
		</tr>
		
		<tr>
			<td class="ui-widget-content">Humidity (BME280 Humidity)</td>
			<td id="bme280_hum" class="ui-widget-content">-</td>
			<td class="ui-widget-content">%</td>
			<td class="ui-widget-content">4</td>
		</tr>
		
		<tr>
			<td class="ui-widget-content">Atmospheric Pressure (BME280 Pressure)</td>
			<td id="bme280_press" class="ui-widget-content">-</td>
			<td class="ui-widget-content">kPa</td>
			<td class="ui-widget-content">4</td>
		</tr>
		
		<tr>
			<td class="ui-widget-content">Temperature (BME280 Temperature)</td>
			<td id="bme280_temp" class="ui-widget-content">-</td>
			<td class="ui-widget-content">C</td>
			<td class="ui-widget-content">4</td>
		</tr>

		<tr>
			<td class="ui-widget-content">Lux (MAX44009 Ambient Light)</td>
			<td id="max44009_bright" class="ui-widget-content">-</td>
			<td class="ui-widget-content">lux</td>
			<td class="ui-widget-content">5</td>
		</tr>
		
		<tr>
			<td class="ui-widget-content">Noise (AKU340 Ambient Noise)</td>
			<td id="aku340_sound" class="ui-widget-content">-</td>
			<td class="ui-widget-content">dBA</td>
			<td class="ui-widget-content">6</td>
		</tr>
		
		<tr>
			<td class="ui-widget-content">Button1 state</td>
			<td id="button1" class="ui-widget-content">-</td>
			<td class="ui-widget-content">None</td>
			<td class="ui-widget-content">7</td>
		</tr>
		
		<tr>
			<td class="ui-widget-content">Button2 state</td>
			<td id="button2" class="ui-widget-content">-</td>
			<td class="ui-widget-content">None</td>
			<td class="ui-widget-content">7</td>
		</tr>
		
	</tbody >
</table>