<table id="plugin_table" class="tablesorter nicetable noauto" style="width:100%">
	<thead>
		<tr>
			<th class="ui-widget-header" style="width:10%">Channel</th>
			<th class="ui-widget-header" style="width:20%">Measurement</th>
			<th class="ui-widget-header" style="width:10%">Value</th>
			<th class="ui-widget-header" style="width:10%">Input</th>
		</tr>
	</thead>
	<tbody>
		<tr id="channel_name_0" ><!-- template -->
			<td class="ui-widget-content">0</td>
			<td id="name_0" class="ui-widget-content">-</td><!-- Measurement -->
			<td id="data_0" class="ui-widget-content">-</td><!-- Value -->
			<td>DI 0</td>
		</tr>
		<tr id="channel_name_1" ><!-- template -->
			<td class="ui-widget-content">1</td>
			<td id="name_1" class="ui-widget-content">-</td><!-- Measurement -->
			<td id="data_1" class="ui-widget-content">-</td><!-- Value -->
			<td>DI 1</td>
		</tr>
		<tr id="channel_name_2" ><!-- template -->
			<td class="ui-widget-content">2</td>
			<td id="name_2" class="ui-widget-content">-</td><!-- Measurement -->
			<td id="data_2" class="ui-widget-content">-</td><!-- Value -->
			<td>DI 2</td>	
		</tr>
		<tr id="channel_name_3" ><!-- template -->
			<td class="ui-widget-content">3</td>
			<td id="name_3" class="ui-widget-content">-</td><!-- Measurement -->
			<td id="data_3" class="ui-widget-content">-</td><!-- Value -->
			<td>DI 3</td>
		</tr>
		<tr id="channel_name_4" ><!-- template -->
			<td class="ui-widget-content">4</td>
			<td id="name_4" class="ui-widget-content">-</td><!-- Measurement -->
			<td id="data_4" class="ui-widget-content">-</td><!-- Value -->
			<td>DI 4</td>
		</tr>
		<tr id="channel_name_5" ><!-- template -->
			<td class="ui-widget-content">5</td>
			<td id="name_5" class="ui-widget-content">-</td><!-- Measurement -->
			<td id="data_5" class="ui-widget-content">-</td><!-- Value -->
			<td>DI 5</td>
		</tr>
		<tr id="channel_name_6" ><!-- template -->
			<td class="ui-widget-content">6</td>
			<td id="name_6" class="ui-widget-content">-</td><!-- Measurement -->
			<td id="data_6" class="ui-widget-content">-</td><!-- Value -->
			<td>DI 6</td>
		</tr>
		<tr id="channel_name_7" ><!-- template -->
			<td class="ui-widget-content">7</td>
			<td id="name_7" class="ui-widget-content">-</td><!-- Measurement -->
			<td id="data_7" class="ui-widget-content">-</td><!-- Value -->
			<td>DI 7</td>	
		</tr>
		<tr id="channel_name_8" ><!-- template -->
			<td class="ui-widget-content">8</td>
			<td id="name_8" class="ui-widget-content">-</td><!-- Measurement -->
			<td id="data_8" class="ui-widget-content">-</td><!-- Value -->
			<td>DI 8</td>	
		</tr>
		<tr id="channel_name_9" ><!-- template -->
			<td class="ui-widget-content">9</td>
			<td id="name_9" class="ui-widget-content">-</td><!-- Measurement -->
			<td id="data_9" class="ui-widget-content">-</td><!-- Value -->
			<td>DI 9</td>	
		</tr>
		<tr id="channel_name_10" ><!-- template -->
			<td class="ui-widget-content">10</td>
			<td id="name_10" class="ui-widget-content">-</td><!-- Measurement -->
			<td id="data_10" class="ui-widget-content">-</td><!-- Value -->
			<td>DI 10</td>
		</tr>
		<tr id="channel_name_11" ><!-- template -->
			<td class="ui-widget-content">11</td>
			<td id="name_11" class="ui-widget-content">-</td><!-- Measurement -->
			<td id="data_11" class="ui-widget-content">-</td><!-- Value -->
			<td>DI 11</td>	
		</tr>
		<tr id="channel_name_12" ><!-- template -->
			<td class="ui-widget-content">12</td>
			<td id="name_12" class="ui-widget-content">-</td><!-- Measurement -->
			<td id="data_12" class="ui-widget-content">-</td><!-- Value -->
			<td>DI 12</td>
		</tr>
		<tr id="channel_name_13" ><!-- template -->
			<td class="ui-widget-content">13</td>
			<td id="name_13" class="ui-widget-content">-</td><!-- Measurement -->
			<td id="data_13" class="ui-widget-content">-</td><!-- Value -->
			<td>DI 13</td>
		</tr>
		<tr id="channel_name_14" ><!-- template -->
			<td class="ui-widget-content">14</td>
			<td id="name_14" class="ui-widget-content">-</td><!-- Measurement -->
			<td id="data_14" class="ui-widget-content">-</td><!-- Value -->
			<td>DI 14</td>	
		</tr>
		<tr id="channel_name_15" ><!-- template -->
			<td class="ui-widget-content">15</td>
			<td id="name_15" class="ui-widget-content">-</td><!-- Measurement -->
			<td id="data_15" class="ui-widget-content">-</td><!-- Value -->
			<td>DI 15</td>	
		</tr>
	</tbody>
</table>