<table id="plugin_table" class="tablesorter nicetable noauto" style="width:100%">
	<thead>
		<tr>
			<th class="ui-widget-header" style="width:10%">Channel</th>
			<th class="ui-widget-header" style="width:20%">Measurement</th>
			<th class="ui-widget-header" style="width:10%">Value</th>
		</tr>
	</thead>
	<tbody>
		<tr id="channel_name_1" ><!-- template -->
			<td class="ui-widget-content">1</td>
			<td id="name_1" class="ui-widget-content">Relay Status</td><!-- Measurement -->
			<td id="reg_1" class="ui-widget-content">-</td><!-- Value -->
		</tr>
		<tr id="channel_name_2" ><!-- template -->
			<td class="ui-widget-content">2</td>
			<td id="name_2" class="ui-widget-content">Relay Status</td><!-- Measurement -->
			<td id="reg_2" class="ui-widget-content">-</td><!-- Value -->
		</tr>
		<tr id="channel_name_3" ><!-- template -->
			<td class="ui-widget-content">3</td>
			<td id="name_3" class="ui-widget-content">Relay Status</td><!-- Measurement -->
			<td id="reg_3" class="ui-widget-content">-</td><!-- Value -->
		</tr>
		<tr id="channel_name_4" ><!-- template -->
			<td class="ui-widget-content">4</td>
			<td id="name_4" class="ui-widget-content">Relay Status</td><!-- Measurement -->
			<td id="reg_4" class="ui-widget-content">-</td><!-- Value -->
		</tr>
		<tr id="channel_name_5" ><!-- template -->
			<td class="ui-widget-content">5</td>
			<td id="name_5" class="ui-widget-content">Relay Status</td><!-- Measurement -->
			<td id="reg_5" class="ui-widget-content">-</td><!-- Value -->
		</tr>
		<tr id="channel_name_6" ><!-- template -->
			<td class="ui-widget-content">6</td>
			<td id="name_6" class="ui-widget-content">Relay Status</td><!-- Measurement -->
			<td id="reg_6" class="ui-widget-content">-</td><!-- Value -->
		</tr>
		<tr id="channel_name_7" ><!-- template -->
			<td class="ui-widget-content">7</td>
			<td id="name_7" class="ui-widget-content">Relay Status</td><!-- Measurement -->
			<td id="reg_7" class="ui-widget-content">-</td><!-- Value -->
		</tr>
		<tr id="channel_name_8" ><!-- template -->
			<td class="ui-widget-content">8</td>
			<td id="name_8" class="ui-widget-content">Relay Status</td><!-- Measurement -->
			<td id="reg_8" class="ui-widget-content">-</td><!-- Value -->
		</tr>
	</tbody>
</table>