<table id="plugin_table" class="tablesorter nicetable noauto">
	<thead>
		<tr>
			<th class="ui-widget-header">Measurement</th>
			<th class="ui-widget-header">Value</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="ui-widget-content">BTU Meter Reading(kWh)</td>
			<td id="coolingEnergyConsumption" class="ui-widget-content"></td>
		</tr>		
		<tr>
			<td class="ui-widget-content">Cooling Load(RT)</td>
			<td id="coolingLoadRT" class="ui-widget-content"> </td>
		</tr>		
		<tr>
			<td class="ui-widget-content">Cooling Load(kWc)</td>
			<td id="coolingLoadKWC" class="ui-widget-content"></td>
		</tr>
		<tr>
			<td class="ui-widget-content">Flow Rate(l/s)</td>
			<td id="flowRate" class="ui-widget-content"></td>
		</tr>
		<tr>
			<td class="ui-widget-content">CH Supply Temp(&deg;C)</td>
			<td id="supplyTemperature" class="ui-widget-content"></td>
		</tr>
		<tr>
			<td class="ui-widget-content">CH Return Temp(&deg;C)</td>
			<td id="returnTemperature" class="ui-widget-content"></td>
		</tr>
		<tr>
			<td class="ui-widget-content">CH Temp Diff(&deg;C)</td>
			<td id="temperatureDiff" class="ui-widget-content"></td>
		</tr>
	</tbody>
</table>