<table id="plugin_table" class="tablesorter nicetable noauto">
	<thead>
		<tr>
			<th class="ui-widget-header">Measurement</th>
			<th class="ui-widget-header">Value</th>
			<th class="ui-widget-header">Unit</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="ui-widget-content">Chiller Enable Input</td>
			<td id="Chiller_Enable_Input" class="ui-widget-content">-</td>
			<td class="ui-widget-content">None</td>
		</tr>
		
		<tr>
			<td class="ui-widget-content">Run Enabled</td>
			<td id="Run_Enabled" class="ui-widget-content">-</td>
			<td class="ui-widget-content">None</td>
		</tr>
		
		<tr>
			<td class="ui-widget-content">Alarm Digital Output</td>
			<td id="Alarm_Digital_Output" class="ui-widget-content">-</td>
			<td class="ui-widget-content">None</td>
		</tr>
		
		<tr>
			<td class="ui-widget-content">Chiller Limited</td>
			<td id="Chiller_Limited" class="ui-widget-content">-</td>
			<td class="ui-widget-content">None</td>
		</tr>
		
		<tr>
			<td class="ui-widget-content">Chiller Local/Remote</td>
			<td id="Chiller_Local_Remote" class="ui-widget-content">-</td>
			<td class="ui-widget-content">None</td>
		</tr>
		<tr>
			<td class="ui-widget-content">Evaporator Flow Switch Status</td>
			<td id="Evaporator_Flow_Switch_Status" class="ui-widget-content">-</td>
			<td class="ui-widget-content">None</td>
		</tr>
		
		<tr>
			<td class="ui-widget-content">Condenser Flow Switch Status</td>
			<td id="Condenser_Flow_Switch_Status" class="ui-widget-content">-</td>
			<td class="ui-widget-content">None</td>
		</tr>
		
		<tr>
			<td class="ui-widget-content">Clear Alarms</td>
			<td id="Clear_Alarms" class="ui-widget-content">-</td>
			<td class="ui-widget-content">None</td>
		</tr>
		
		<tr>
			<td class="ui-widget-content">Pump Select</td>
			<td id="Pump_Select" class="ui-widget-content">-</td>
			<td class="ui-widget-content">None</td>
		</tr>
		
		<tr>
			<td class="ui-widget-content">Evaporator Water Pump Status</td>
			<td id="Evaporator_Water_Pump_Status" class="ui-widget-content">-</td>
			<td class="ui-widget-content">None</td>
		</tr>
		
		<tr>
			<td class="ui-widget-content">Condenser Water Pump Status</td>
			<td id="Condenser_Water_Pump_Status" class="ui-widget-content">-</td>
			<td class="ui-widget-content">None</td>
		</tr>
		
		<tr>
		<td class="ui-widget-content">Active Setpoint</td>
		<td id="Active_Setpoint" class="ui-widget-content">-</td>
		<td class="ui-widget-content">C</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Actual Capacity</td>
		<td id="Actual_Capacity" class="ui-widget-content">-</td>
		<td class="ui-widget-content">%</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Actual RPM Compressor 1</td>
		<td id="Actual_RPM_Compressor_1" class="ui-widget-content">-</td>
		<td class="ui-widget-content">rpm</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Actual RPM Compressor 2</td>
		<td id="Actual_RPM_Compressor_2" class="ui-widget-content">-</td>
		<td class="ui-widget-content">rpm</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Capacity Limit Output</td>
		<td id="Capacity_Limit_Output" class="ui-widget-content">-</td>
		<td class="ui-widget-content">%</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Capacity Limit Setpoint</td>
		<td id="Capacity_Limit_Setpoint" class="ui-widget-content">-</td>
		<td class="ui-widget-content">%</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Cavity Temperature Compressor 1</td>
		<td id="Cavity_Temperature_Compressor_1" class="ui-widget-content">-</td>
		<td class="ui-widget-content">C</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Cavity Temperature Compressor 2</td>
		<td id="Cavity_Temperature_Compressor_2" class="ui-widget-content">-</td>
		<td class="ui-widget-content">C</td>
		</tr>
		
		
		<tr>
		<td class="ui-widget-content">Chiller Mode Output</td>
		<td id="Chiller_Mode_Output" class="ui-widget-content">-</td>
		<td class="ui-widget-content">None</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Chiller Mode Setpoint</td>
		<td id="Chiller_Mode_Setpoint" class="ui-widget-content">-</td>
		<td class="ui-widget-content">None</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Compressor 2 Active Capacity Limit</td>
		<td id="Compressor_2_Active_Capacity_Limit" class="ui-widget-content">-</td>
		<td class="ui-widget-content">%</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Chiller Status</td>
		<td id="Chiller_Status" class="ui-widget-content">-</td>
		<td class="ui-widget-content">None</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Chiller Power</td>
		<td id="Chiller_Power" class="ui-widget-content">-</td>
		<td class="ui-widget-content">kW</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Compressor Current Compressor Select</td>
		<td id="Compressor_Current_Compressor_Select" class="ui-widget-content">-</td>
		<td class="ui-widget-content">A</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Compressor Current Compressor 2</td>
		<td id="Compressor_Current_Compressor_2" class="ui-widget-content">-</td>
		<td class="ui-widget-content">A</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Compressor Current Compressor 3</td>
		<td id="Compressor_Current_Compressor_3" class="ui-widget-content">-</td>
		<td class="ui-widget-content">A</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Compressor Current Compressor 4</td>
		<td id="Compressor_Current_Compressor_4" class="ui-widget-content">-</td>
		<td class="ui-widget-content">A</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Compressor Current Compressor 5</td>
		<td id="Compressor_Current_Compressor_5" class="ui-widget-content">-</td>
		<td class="ui-widget-content">A</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Compressor Current Compressor 6</td>
		<td id="Compressor_Current_Compressor_6" class="ui-widget-content">-</td>
		<td class="ui-widget-content">A</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Compressor Discharge Temperature Compressor Select</td>
		<td id="Compressor_Discharge_Temperature_Compressor_Select" class="ui-widget-content">-</td>
		<td class="ui-widget-content">C</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Compressor Discharge Temperature Compressor 2</td>
		<td id="Compressor_Discharge_Temperature_Compressor_2" class="ui-widget-content">-</td>
		<td class="ui-widget-content">C</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Compressor Percent RLA Compressor Select</td>
		<td id="Compressor_Percent_RLA_Compressor_Select" class="ui-widget-content">-</td>
		<td class="ui-widget-content">%</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Compressor Percent RLA Compressor 2</td>
		<td id="Compressor_Percent_RLA_Compressor_2" class="ui-widget-content">-</td>
		<td class="ui-widget-content">%</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Compressor Percent RLA Compressor 3</td>
		<td id="Compressor_Percent_RLA_Compressor_3" class="ui-widget-content">-</td>
		<td class="ui-widget-content">%</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Compressor Percent RLA Compressor 4</td>
		<td id="Compressor_Percent_RLA_Compressor_4" class="ui-widget-content">-</td>
		<td class="ui-widget-content">%</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Compressor Percent RLA Compressor 5</td>
		<td id="Compressor_Percent_RLA_Compressor_5" class="ui-widget-content">-</td>
		<td class="ui-widget-content">%</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Compressor Percent RLA Compressor 6</td>
		<td id="Compressor_Percent_RLA_Compressor_6" class="ui-widget-content">-</td>
		<td class="ui-widget-content">%</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Compressor Power Compressor Select</td>
		<td id="Compressor_Power_Compressor_Select" class="ui-widget-content">-</td>
		<td class="ui-widget-content">kW</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Compressor Power Compressor 2</td>
		<td id="Compressor_Power_Compressor_2" class="ui-widget-content">-</td>
		<td class="ui-widget-content">kW</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Compressor Power Compressor 3</td>
		<td id="Compressor_Power_Compressor_3" class="ui-widget-content">-</td>
		<td class="ui-widget-content">kW</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Compressor Power Compressor 4</td>
		<td id="Compressor_Power_Compressor_4" class="ui-widget-content">-</td>
		<td class="ui-widget-content">kW</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Compressor Power Compressor 5</td>
		<td id="Compressor_Power_Compressor_5" class="ui-widget-content">-</td>
		<td class="ui-widget-content">kW</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Compressor Power Compressor 6</td>
		<td id="Compressor_Power_Compressor_6" class="ui-widget-content">-</td>
		<td class="ui-widget-content">kW</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Compressor Run Hours Compressor Select</td>
		<td id="Compressor_Run_Hours_Compressor_Select" class="ui-widget-content">-</td>
		<td class="ui-widget-content">Hours</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Compressor Run Hours Compressor 2</td>
		<td id="Compressor_Run_Hours_Compressor_2" class="ui-widget-content">-</td>
		<td class="ui-widget-content">Hours</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Compressor Run Hours Compressor 3</td>
		<td id="Compressor_Run_Hours_Compressor_3" class="ui-widget-content">-</td>
		<td class="ui-widget-content">Hours</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Compressor Run Hours Compressor 4</td>
		<td id="Compressor_Run_Hours_Compressor_4" class="ui-widget-content">-</td>
		<td class="ui-widget-content">Hours</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Compressor Select</td>
		<td id="Compressor_Select" class="ui-widget-content">-</td>
		<td class="ui-widget-content">None</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Compressor Starts Compressor Select</td>
		<td id="Compressor_Starts_Compressor_Select" class="ui-widget-content">-</td>
		<td class="ui-widget-content">None</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Compressor Starts Compressor 2</td>
		<td id="Compressor_Starts_Compressor_2" class="ui-widget-content">-</td>
		<td class="ui-widget-content">None</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Compressor Starts Compressor 3</td>
		<td id="Compressor_Starts_Compressor_3" class="ui-widget-content">-</td>
		<td class="ui-widget-content">None</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Compressor Starts Compressor 4</td>
		<td id="Compressor_Starts_Compressor_4" class="ui-widget-content">-</td>
		<td class="ui-widget-content">None</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Compressor Suction Line Temperature Compressor Select</td>
		<td id="Compressor_Suction_Line_Temperature_Compressor_Select" class="ui-widget-content">-</td>
		<td class="ui-widget-content">C</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Compressor Suction Line Temperature Compressor 2</td>
		<td id="Compressor_Suction_Line_Temperature_Compressor_2" class="ui-widget-content">-</td>
		<td class="ui-widget-content">C</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Compressor Voltage Compressor Select</td>
		<td id="Compressor_Voltage_Compressor_Select" class="ui-widget-content">-</td>
		<td class="ui-widget-content">V</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Compressor Voltage Compressor 2</td>
		<td id="Compressor_Voltage_Compressor_2" class="ui-widget-content">-</td>
		<td class="ui-widget-content">V</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Compressor Voltage Compressor 3</td>
		<td id="Compressor_Voltage_Compressor_3" class="ui-widget-content">-</td>
		<td class="ui-widget-content">V</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Compressor Voltage Compressor 4</td>
		<td id="Compressor_Voltage_Compressor_4" class="ui-widget-content">-</td>
		<td class="ui-widget-content">V</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Compressor Voltage Compressor 5</td>
		<td id="Compressor_Voltage_Compressor_5" class="ui-widget-content">-</td>
		<td class="ui-widget-content">V</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Compressor Voltage Compressor 6</td>
		<td id="Compressor_Voltage_Compressor_6" class="ui-widget-content">-</td>
		<td class="ui-widget-content">V</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Condenser Entering Water Temperature</td>
		<td id="Condenser_Entering_Water_Temperature" class="ui-widget-content">-</td>
		<td class="ui-widget-content">C</td>
		</tr>
		
		<tr>
		<td class="ui-widget-content">Condenser Leaving Water Temperature</td>
		<td id="Condenser_Leaving_Water_Temperature" class="ui-widget-content">-</td>
		<td class="ui-widget-content">C</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Condenser Pump Run Hours Pump Select</td>
		<td id="Condenser_Pump_Run_Hours_Pump_Select" class="ui-widget-content">-</td>
		<td class="ui-widget-content">Hours</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Condenser Pump Run Hours Pump 2</td>
		<td id="Condenser_Pump_Run_Hours_Pump_2" class="ui-widget-content">-</td>
		<td class="ui-widget-content">Hours</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Condenser Refrigerant Pressure Compressor Select</td>
		<td id="Condenser_Refrigerant_Pressure_Compressor_Select" class="ui-widget-content">-</td>
		<td class="ui-widget-content">spi</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Condenser Refrigerant Pressure Compressor 2</td>
		<td id="Condenser_Refrigerant_Pressure_Compressor_2" class="ui-widget-content">-</td>
		<td class="ui-widget-content">spi</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Condenser Saturated Refrigerant Temperature Compressor Select</td>
		<td id="Condenser_Saturated_Refrigerant_Temperature_Compressor_Select" class="ui-widget-content">-</td>
		<td class="ui-widget-content">C</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Condenser Saturated Refrigerant Temperature Compressor 2</td>
		<td id="Condenser_Saturated_Refrigerant_Temperature_Compressor_2" class="ui-widget-content">-</td>
		<td class="ui-widget-content">C</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Condenser Water Flow Rate</td>
		<td id="Condenser_Water_Flow_Rate" class="ui-widget-content">-</td>
		<td class="ui-widget-content">l/s</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Design RPM Compressor 1</td>
		<td id="Design_RPM_Compressor_1" class="ui-widget-content">-</td>
		<td class="ui-widget-content">rpm</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Design RPM Compressor 2</td>
		<td id="Design_RPM_Compressor_2" class="ui-widget-content">-</td>
		<td class="ui-widget-content">rpm</td>
		</tr>
		<tr>
		<td class="ui-widget-content">IGV Percentage Open Compressor 1</td>
		<td id="IGV_Percentage_Open_Compressor_1" class="ui-widget-content">-</td>
		<td class="ui-widget-content">%</td>
		</tr>
		<tr>
		<td class="ui-widget-content">IGV Percentage Open Compressor 2</td>
		<td id="IGV_Percentage_Open_Compressor_2" class="ui-widget-content">-</td>
		<td class="ui-widget-content">%</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Inverter Temperature Compressor 1</td>
		<td id="Inverter_Temperature_Compressor_1" class="ui-widget-content">-</td>
		<td class="ui-widget-content">C</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Inverter Temperature Compressor 2</td>
		<td id="Inverter_Temperature_Compressor_2" class="ui-widget-content">-</td>
		<td class="ui-widget-content">C/td>
		</tr>
		<tr>
		<td class="ui-widget-content">Maximum RPM Compressor 1</td>
		<td id="Maximum_RPM_Compressor_1" class="ui-widget-content">-</td>
		<td class="ui-widget-content">rpm</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Maximum RPM Compressor 2</td>
		<td id="Maximum_RPM_Compressor_2" class="ui-widget-content">-</td>
		<td class="ui-widget-content">rpm</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Minimum RPM Compressor 1</td>
		<td id="Minimum_RPM_Compressor_1" class="ui-widget-content">-</td>
		<td class="ui-widget-content">rpm</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Minimum RPM Compressor 2</td>
		<td id="Minimum_RPM_Compressor_2" class="ui-widget-content">-</td>
		<td class="ui-widget-content">rpm</td>
		</tr>
		
		<tr>
		<td class="ui-widget-content">Cool Setpoint</td>
		<td id="Cool_Setpoint" class="ui-widget-content">-</td>
		<td class="ui-widget-content">C</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Evaporator Entering Water Temperature</td>
		<td id="Evaporator_Entering_Water_Temperature" class="ui-widget-content">-</td>
		<td class="ui-widget-content">C</td>
		</tr>
		
		<tr>
		<td class="ui-widget-content">Evaporator Leaving Water Temperature For Unit</td>
		<td id="Evaporator_Leaving_Water_Temperature_For_Unit" class="ui-widget-content">-</td>
		<td class="ui-widget-content">C</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Evaporator Leaving Water Temperature For Compressor Select</td>
		<td id="Evaporator_Leaving_Water_Temperature_For_Compressor_Select" class="ui-widget-content">-</td>
		<td class="ui-widget-content">C</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Evaporator Leaving Water Temperature For Compressor 2</td>
		<td id="Evaporator_Leaving_Water_Temperature_For_Compressor_2" class="ui-widget-content">-</td>
		<td class="ui-widget-content">C</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Evaporator Pump Run Hours Pump Select</td>
		<td id="Evaporator_Pump_Run_Hours_Pump_Select" class="ui-widget-content">-</td>
		<td class="ui-widget-content">Hours</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Evaporator Pump Run Hours Pump 2</td>
		<td id="Evaporator_Pump_Run_Hours_Pump_2" class="ui-widget-content">-</td>
		<td class="ui-widget-content">Hours</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Evaporator Refrigerant Pressure Compressor Select</td>
		<td id="Evaporator_Refrigerant_Pressure_Compressor_Select" class="ui-widget-content">-</td>
		<td class="ui-widget-content">spi</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Evaporator Refrigerant Pressure Compressor 2</td>
		<td id="Evaporator_Refrigerant_Pressure_Compressor_2" class="ui-widget-content">-</td>
		<td class="ui-widget-content">spi</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Evaporator Saturated Refrigerant Temperature Compressor Select</td>
		<td id="Evaporator_Saturated_Refrigerant_Temperature_Compressor_Select" class="ui-widget-content">-</td>
		<td class="ui-widget-content">C</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Evaporator Saturated Refrigerant Temperature Compressor 2</td>
		<td id="Evaporator_Saturated_Refrigerant_Temperature_Compressor_2" class="ui-widget-content">-</td>
		<td class="ui-widget-content">C</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Evaporator Water Flow Rate</td>
		<td id="Evaporator_Water_Flow_Rate" class="ui-widget-content">-</td>
		<td class="ui-widget-content">l/s</td>
		</tr>
		
		<tr>
		<td class="ui-widget-content">Heat Recovery Entering Water Temperature</td>
		<td id="Heat_Recovery_Entering_Water_Temperature" class="ui-widget-content">-</td>
		<td class="ui-widget-content">C</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Heat Recovery Leaving Water Temperature</td>
		<td id="Heat_Recovery_Leaving_Water_Temperature" class="ui-widget-content">-</td>
		<td class="ui-widget-content">C</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Heat Setpoint</td>
		<td id="Heat_Setpoint" class="ui-widget-content">-</td>
		<td class="ui-widget-content">C</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Ice Setpoint</td>
		<td id="Ice_Setpoint" class="ui-widget-content">-</td>
		<td class="ui-widget-content">C</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Liquid Line Refrigerant Pressure</td>
		<td id="Liquid_Line_Refrigerant_Pressure" class="ui-widget-content">-</td>
		<td class="ui-widget-content">spi</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Liquid Line Refrigerant Temperature Compressor Select</td>
		<td id="Liquid_Line_Refrigerant_Temperature_Compressor_Select" class="ui-widget-content">-</td>
		<td class="ui-widget-content">C</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Liquid Line Refrigerant Temperature Compressor 2</td>
		<td id="Liquid_Line_Refrigerant_Temperature_Compressor_2" class="ui-widget-content">-</td>
		<td class="ui-widget-content">C</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Oil Feed Pressure Compressor Select</td>
		<td id="Oil_Feed_Pressure_Compressor_Select" class="ui-widget-content">-</td>
		<td class="ui-widget-content">spi</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Oil Feed Pressure Compressor 2</td>
		<td id="Oil_Feed_Pressure_Compressor_2" class="ui-widget-content">-</td>
		<td class="ui-widget-content">spi</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Oil Feed Temperature Compressor Select</td>
		<td id="Oil_Feed_Temperature_Compressor_Select" class="ui-widget-content">-</td>
		<td class="ui-widget-content">C</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Oil Feed Temperature Compressor 2</td>
		<td id="Oil_Feed_Temperature_Compressor_2" class="ui-widget-content">-</td>
		<td class="ui-widget-content">C</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Oil Sump Pressure Compressor Select</td>
		<td id="Oil_Sump_Pressure_Compressor_Select" class="ui-widget-content">-</td>
		<td class="ui-widget-content">spi</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Oil Sump Pressure Compressor 2</td>
		<td id="Oil_Sump_Pressure_Compressor_2" class="ui-widget-content">-</td>
		<td class="ui-widget-content">spi</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Oil Sump Temperature Compressor Select</td>
		<td id="Oil_Sump_Temperature_Compressor_Select" class="ui-widget-content">-</td>
		<td class="ui-widget-content">C</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Oil Sump Temperature Compressor 2</td>
		<td id="Oil_Sump_Temperature_Compressor_2" class="ui-widget-content">-</td>
		<td class="ui-widget-content">C</td>
		</tr>
		<tr>
		<td class="ui-widget-content">Outdoor Air Temperature</td>
		<td id="Outdoor_Air_Temperature" class="ui-widget-content">-</td>
		<td class="ui-widget-content">C</td>
		</tr>
		

		
		
	</tbody >
</table>