<table id="plugin_table" class="tablesorter nicetable noauto">
	<thead>
		<tr>
			<th class="ui-widget-header">Measurement</th>
			<th class="ui-widget-header">System</th>
			<th class="ui-widget-header">Phase L1</th>
			<th class="ui-widget-header">Phase L2</th>
			<th class="ui-widget-header">Phase L3</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="ui-widget-content">L_N Voltage(V)</td>
			<td id="voltage" class="ui-widget-content"></td>
			<td id="voltage_l1" class="ui-widget-content"></td>
			<td id="voltage_l2" class="ui-widget-content"></td>
			<td id="voltage_l3" class="ui-widget-content"></td>
		</tr>
		<tr>
			<td class="ui-widget-content">Current(A)</td>
			<td id="current" class="ui-widget-content"></td>
			<td id="current_l1" class="ui-widget-content"></td>
			<td id="current_l2" class="ui-widget-content"></td>
			<td id="current_l3" class="ui-widget-content"></td>
		</tr>
		<tr>
			<td class="ui-widget-content">Active Energy Reading(kWh)</td>
			<td id="act_energy" class="ui-widget-content"></td>
			<td id="act_energy_l1" class="ui-widget-content"></td>
			<td id="act_energy_l2" class="ui-widget-content"></td>
			<td id="act_energy_l3" class="ui-widget-content"></td>
		</tr>
		<tr>
			<td class="ui-widget-content">Reactive Energy Reading(kVARh)</td>
			<td id="rea_energy" class="ui-widget-content"></td>
			<td id="rea_energy_l1" class="ui-widget-content"></td>
			<td id="rea_energy_l2" class="ui-widget-content"></td>
			<td id="rea_energy_l3" class="ui-widget-content"></td>
		</tr>
		<tr>
			<td class="ui-widget-content">Apparent Energy Reading(kVAh)</td>
			<td id="app_energy" class="ui-widget-content"></td>
			<td id="app_energy_l1" class="ui-widget-content"></td>
			<td id="app_energy_l2" class="ui-widget-content"></td>
			<td id="app_energy_l3" class="ui-widget-content"></td>
		</tr>
		<tr>
			<td class="ui-widget-content">Active Power(kW)</td>
			<td id="act_power" class="ui-widget-content"></td>
			<td id="act_power_l1" class="ui-widget-content"></td>
			<td id="act_power_l2" class="ui-widget-content"></td>
			<td id="act_power_l3" class="ui-widget-content"></td>
		</tr>
		<tr>
			<td class="ui-widget-content">Reactive Power(kVAR)</td>
			<td id="rea_power" class="ui-widget-content"></td>
			<td id="rea_power_l1" class="ui-widget-content"></td>
			<td id="rea_power_l2" class="ui-widget-content"></td>
			<td id="rea_power_l3" class="ui-widget-content"></td>
		</tr>
		<tr>
			<td class="ui-widget-content">Apparent Power(kVA)</td>
			<td id="app_power" class="ui-widget-content"></td>
			<td id="app_power_l1" class="ui-widget-content"></td>
			<td id="app_power_l2" class="ui-widget-content"></td>
			<td id="app_power_l3" class="ui-widget-content"></td>
		</tr>
		<tr>
			<td class="ui-widget-content">Peak Demand(kW)</td>
			<td id="peak_demand" class="ui-widget-content"></td>
			<td id="peak_demand_l1" class="ui-widget-content"></td>
			<td id="peak_demand_l2" class="ui-widget-content"></td>
			<td id="peak_demand_l3" class="ui-widget-content"></td>
		</tr>
		<tr>
			<td class="ui-widget-content">Power Factor</td>
			<td id="pow_factor" class="ui-widget-content"></td>
			<td id="pow_factor_l1" class="ui-widget-content"></td>
			<td id="pow_factor_l2" class="ui-widget-content"></td>
			<td id="pow_factor_l3" class="ui-widget-content"></td>
		</tr>
		<tr>
			<td class="ui-widget-content">L1_L2 Voltage(V)</td>
			<td id="v_l1_l2" class="ui-widget-content"></td>
			<td class="ui-widget-content"></td>
			<td class="ui-widget-content"></td>
			<td class="ui-widget-content"></td>
		</tr>
		<tr>
			<td class="ui-widget-content">L2_L3 Voltage(V)</td>
			<td id="v_l2_l3" class="ui-widget-content"></td>
			<td class="ui-widget-content"></td>
			<td class="ui-widget-content"></td>
			<td class="ui-widget-content"></td>
		</tr>
		<tr>
			<td class="ui-widget-content">L1_L3 Voltage(V)</td>
			<td id="v_l1_l3" class="ui-widget-content"></td>
			<td class="ui-widget-content"></td>
			<td class="ui-widget-content"></td>
			<td class="ui-widget-content"></td>
		</tr>
		<tr>
			<td class="ui-widget-content">Line Frequency(Hz)</td>
			<td id="frequency" class="ui-widget-content"></td>
			<td class="ui-widget-content"></td>
			<td class="ui-widget-content"></td>
			<td class="ui-widget-content"></td>
		</tr>		
	</tbody >
</table>