<table id="plugin_table" class="tablesorter nicetable noauto">
	<thead>
		<tr>
			<th class="ui-widget-header">Measurement</th>
			<th class="ui-widget-header">Value</th>
			<th class="ui-widget-header">Unit</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="ui-widget-content">Supply Air Temperature</td>
			<td id="supplyAirTemperature" class="ui-widget-content"></td>
			<td class="ui-widget-content">C</td>
		</tr>
		
		<tr>
			<td class="ui-widget-content">Return Air Temperature</td>
			<td id="returnAirTemperature" class="ui-widget-content"></td>
			<td class="ui-widget-content">C</td>
		</tr>
	
		<tr>
			<td class="ui-widget-content">Temperature Set point</td>
			<td id="airTemperatureSetPoint" class="ui-widget-content"></td>
			<td class="ui-widget-content">C</td>
		</tr>
		
		<tr>
			<td class="ui-widget-content">Humidity</td>
			<td id="returnHumidity" class="ui-widget-content"></td>
			<td class="ui-widget-content">%</td>
		</tr>
		
		<tr>
			<td class="ui-widget-content">Humidity Set Point</td>
			<td id="humiditySetPoint" class="ui-widget-content"></td>
			<td class="ui-widget-content">%</td>
		</tr>
		
		<tr>
			<td class="ui-widget-content">Supply Chilled Water Temperature</td>
			<td id="supplyChilledWaterTemperature" class="ui-widget-content"></td>
			<td class="ui-widget-content">C</td>
		</tr>
		
		<tr>
			<td class="ui-widget-content">System Status</td>
			<td id="systemStatus" class="ui-widget-content"></td>
			<td class="ui-widget-content">None</td>
		</tr>
		
		<tr>
			<td class="ui-widget-content">System Operating State</td>
			<td id="systemOperatingState" class="ui-widget-content"></td>
			<td class="ui-widget-content">None</td>
		</tr>
			
	</tbody >
</table>