<table id="plugin_table" class="tablesorter nicetable noauto">
	<thead>
		<tr>
			<th class="ui-widget-header">Measurement</th>
			<th class="ui-widget-header">Value</th>
			<th class="ui-widget-header">Unit</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="ui-widget-content">Humidity</td>
			<td id="returnHumidity" class="ui-widget-content"></td>
			<td class="ui-widget-content">%</td>
		</tr>
		
		<tr>
			<td class="ui-widget-content">Humidity Set Point</td>
			<td id="humiditySetPoint" class="ui-widget-content"></td>
			<td class="ui-widget-content">%</td>
		</tr>
		
		<tr>
			<td class="ui-widget-content">Supply Temperature</td>
			<td id="supplyTemperature" class="ui-widget-content"></td>
			<td class="ui-widget-content">C</td>
		</tr>
		
		<tr>
			<td class="ui-widget-content">Return Temperature</td>
			<td id="returnTemperature" class="ui-widget-content"></td>
			<td class="ui-widget-content">C</td>
		</tr>
		
		<tr>
			<td class="ui-widget-content">Temperature Set Point</td>
			<td id="temperatureSetPoint" class="ui-widget-content"></td>
			<td class="ui-widget-content">C</td>
		</tr>
		
		<tr>
			<td class="ui-widget-content">Operating State</td>
			<td id="operatingState" class="ui-widget-content"></td>
			<td class="ui-widget-content">None</td>
		</tr>
			
	</tbody >
</table>