<table id="plugin_table_1" class="tablesorter nicetable noauto">
	<thead>
		<tr>
			<th class="ui-widget-header" style="width:60%">Input Measures</th>
			<th class="ui-widget-header">Value</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="ui-widget-content"><b>Input Voltage L1-L2(V)</b></td>
			<td id="InputCableVoltageAB"  class="ui-widget-content"></td>
		</tr>	
		<tr>
			<td class="ui-widget-content"><b>Input Voltage L2-L3(V)</b></td>
			<td id="InputCableVoltageBC" class="ui-widget-content"></td>
		</tr>		
		<tr>
			<td class="ui-widget-content"><b>Input Voltage L1-L3(V)</b></td>
			<td id="InputCableVoltageCA" class="ui-widget-content"></td>
		</tr>
		
		<tr>
			<td class="ui-widget-content"><b>Input Voltage L1-N(V)</b></td>
			<td id="InputPhaseVoltageA"  class="ui-widget-content"></td>
		</tr>	
		<tr>
			<td class="ui-widget-content"><b>Input Voltage L2-N(V)</b></td>
			<td id="InputPhaseVoltageB" class="ui-widget-content"></td>
		</tr>		
		<tr>
			<td class="ui-widget-content"><b>Input Voltage L3-N(V)</b></td>
			<td id="InputPhaseVoltageC" class="ui-widget-content"></td>
		</tr>
		<tr>
			<td class="ui-widget-content"><b>Input Current L1(A)</b></td>
			<td id="InputPhaseCurrentA"  class="ui-widget-content"></td>
		</tr>	
		<tr>
			<td class="ui-widget-content"><b>Input Current L2(A)</b></td>
			<td id="InputPhaseCurrentB"  class="ui-widget-content"></td>
		</tr>
		<tr>
			<td class="ui-widget-content"><b>Input Current L3(A)</b></td>
			<td id="InputPhaseCurrentC"  class="ui-widget-content"></td>
		</tr>
		<tr>
			<td class="ui-widget-content"><b>Input Frequency(Hz)</b></td>
			<td id="InputFrequency"  class="ui-widget-content"></td>
		</tr>
	</tbody>
</table>
<br />
<table id="plugin_table_2" class="tablesorter nicetable noauto">
	<thead>
		<tr>
			<th class="ui-widget-header" style="width:60%">Output Measures</th>
			<th class="ui-widget-header">Value</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="ui-widget-content"><b>Output Voltage L1-N(V)</b></td>
			<td id="OutputPhaseVoltageA"  class="ui-widget-content"></td>
		</tr>	
		<tr>
			<td class="ui-widget-content"><b>Output Voltage L2-N(V)</b></td>
			<td id="OutputPhaseVoltageB"  class="ui-widget-content"></td>
		</tr>		
		<tr>
			<td class="ui-widget-content"><b>Output Voltage L3-N(V)</b></td>
			<td id="OutputPhaseVoltageC"  class="ui-widget-content"></td>
		</tr>
		<tr>
			<td class="ui-widget-content"><b>Output Current L1(A)</b></td>
			<td id="OutputPhaseCurrentA"  class="ui-widget-content"></td>
		</tr>	
		<tr>
			<td class="ui-widget-content"><b>Output Current L2(A)</b></td>
			<td id="OutputPhaseCurrentB"  class="ui-widget-content"></td>
		</tr>
		<tr>
			<td class="ui-widget-content"><b>Output Current L3(A)</b></td>
			<td id="OutputPhaseCurrentC"  class="ui-widget-content"></td>
		</tr>
		
		<tr>
			<td class="ui-widget-content"><b>Output Active Power L1(kW)</b></td>
			<td id="OutputActivePowerPhsA"  class="ui-widget-content"></td>
		</tr>	
		<tr>
			<td class="ui-widget-content"><b>Output Active Power L2(kW)</b></td>
			<td id="OutputActivePowerPhsB"  class="ui-widget-content"></td>
		</tr>
		<tr>
			<td class="ui-widget-content"><b>Output Active Power L3(kW)</b></td>
			<td id="OutputActivePowerPhsC"  class="ui-widget-content"></td>
		</tr>
		
		<tr>
			<td class="ui-widget-content"><b>Output Reactive Power L1(kVAR)</b></td>
			<td id="OutputReactivePowerPhsA"  class="ui-widget-content"></td>
		</tr>	
		<tr>
			<td class="ui-widget-content"><b>Output Reactive Power L2(kVAR)</b></td>
			<td id="OutputReactivePowerPhsB"  class="ui-widget-content"></td>
		</tr>
		<tr>
			<td class="ui-widget-content"><b>Output Reactive Power L3(kVAR)</b></td>
			<td id="OutputReactivePowerPhsC"  class="ui-widget-content"></td>
		</tr>
		
		<tr>
			<td class="ui-widget-content"><b>Output Apparent Power L1(kVA)</b></td>
			<td id="OutputApparentPowerPhsA"  class="ui-widget-content"></td>
		</tr>	
		<tr>
			<td class="ui-widget-content"><b>Output Apparent Power L2(kVA)</b></td>
			<td id="OutputApparentPowerPhsB"  class="ui-widget-content"></td>
		</tr>
		<tr>
			<td class="ui-widget-content"><b>Output Apparent Power L3(kVA)</b></td>
			<td id="OutputApparentPowerPhsC"  class="ui-widget-content"></td>
		</tr>	
		
		<tr>
			<td class="ui-widget-content"><b>Output Frequency(Hz)</b></td>
			<td id="OutputFrequency"  class="ui-widget-content"></td>
		</tr>
	</tbody>
</table>
<br />
<table id="plugin_table_3" class="tablesorter nicetable noauto">
	<thead>
		<tr>
			<th class="ui-widget-header" style="width:60%">Bypass Measures</th>
			<th class="ui-widget-header">Value</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="ui-widget-content"><b>Bypass Voltage L1-N(V)</b></td>
			<td id="BypassPhaseVoltageA"  class="ui-widget-content"></td>
		</tr>	
		<tr>
			<td class="ui-widget-content"><b>Bypass Voltage L2-N(V)</b></td>
			<td id="BypassPhaseVoltageB"  class="ui-widget-content"></td>
		</tr>		
		<tr>
			<td class="ui-widget-content"><b>Bypass Voltage L3-N(V)</b></td>
			<td id="BypassPhaseVoltageC"  class="ui-widget-content"></td>
		</tr>
		<tr>
			<td class="ui-widget-content"><b>Bypass Frequency(Hz)</b></td>
			<td id="BypassFrequency"  class="ui-widget-content"></td>
		</tr>
	</tbody>
</table>
<br />
<table id="plugin_table_4" class="tablesorter nicetable noauto">
	<thead>
		<tr>
			<th class="ui-widget-header" style="width:60%">Battery Measures</th>
			<th class="ui-widget-header">Value</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="ui-widget-content"><b>Remain Battery Time(min)</b></td>
			<td id="BatteryBackupTime"  class="ui-widget-content"></td>
		</tr>	
		<tr>
			<td class="ui-widget-content"><b>Positive Battery Voltage(V)</b></td>
			<td id="PositiveBatteryVoltage"  class="ui-widget-content"></td>
		</tr>		
		<tr>
			<td class="ui-widget-content"><b>Positive Battery Current(A)</b></td>
			<td id="PositiveBatteryCurrent"  class="ui-widget-content"></td>
		</tr>
		<tr>
			<td class="ui-widget-content"><b>Negative Battery Voltage(V)</b></td>
			<td id="NegativeBatteryVoltage"  class="ui-widget-content"></td>
		</tr>	
		<tr>
			<td class="ui-widget-content"><b>Negative Battery Current(A)</b></td>
			<td id="NegativeBatteryCurrent"  class="ui-widget-content"></td>
		</tr>
		<tr>
			<td class="ui-widget-content"><b>Battery Aging Coefficient</b></td>
			<td id="BatteryAgingCoefficient"  class="ui-widget-content"></td>
		</tr>
		<tr>
			<td class="ui-widget-content"><b>Battery Temperature(C)</b></td>
			<td id="BatteryTemperature"  class="ui-widget-content"></td>
		</tr>
	</tbody>
</table>


