<table id="plugin_table" class="tablesorter nicetable noauto">
	<thead>
		<tr>
			<th class="ui-widget-header">Channel</th>
			<th class="ui-widget-header">Temperature(&deg;C)</th>
		</tr>
	</thead>
	<tbody>
		<tr><!-- template -->
			<td class="ui-widget-content">0</td>
			<td id="temperature_0" class="ui-widget-content"></td>
		</tr>
		<tr><!-- template -->
			<td class="ui-widget-content">1</td>
			<td id="temperature_1" class="ui-widget-content"></td>
		</tr>
		<tr><!-- template -->
			<td class="ui-widget-content">2</td>
			<td id="temperature_2" class="ui-widget-content"></td>
		</tr>
		<tr><!-- template -->
			<td class="ui-widget-content">3</td>
			<td id="temperature_3" class="ui-widget-content"></td>
		</tr>
		<tr><!-- template -->
			<td class="ui-widget-content">4</td>
			<td id="temperature_4" class="ui-widget-content"></td>
		</tr>
		<tr><!-- template -->
			<td class="ui-widget-content">5</td>
			<td id="temperature_5" class="ui-widget-content"></td>
		</tr>
		<tr><!-- template -->
			<td class="ui-widget-content">6</td>
			<td id="temperature_6" class="ui-widget-content"></td>
		</tr><tr><!-- template -->
			<td class="ui-widget-content">7</td>
			<td id="temperature_7" class="ui-widget-content"></td>
		</tr><tr><!-- template -->
			<td class="ui-widget-content">8</td>
			<td id="temperature_8" class="ui-widget-content"></td>
		</tr><tr><!-- template -->
			<td class="ui-widget-content">9</td>
			<td id="temperature_9" class="ui-widget-content"></td>
		</tr><tr><!-- template -->
			<td class="ui-widget-content">10</td>
			<td id="temperature_10" class="ui-widget-content"></td>
		</tr><tr><!-- template -->
			<td class="ui-widget-content">11</td>
			<td id="temperature_11" class="ui-widget-content"></td>
		</tr><tr><!-- template -->
			<td class="ui-widget-content">12</td>
			<td id="temperature_12" class="ui-widget-content"></td>
		</tr><tr><!-- template -->
			<td class="ui-widget-content">13</td>
			<td id="temperature_13" class="ui-widget-content"></td>
		</tr><tr><!-- template -->
			<td class="ui-widget-content">14</td>
			<td id="temperature_14" class="ui-widget-content"></td>
		</tr><tr><!-- template -->
			<td class="ui-widget-content">15</td>
			<td id="temperature_15" class="ui-widget-content"></td>
		</tr>
	</tbody>
</table>