<table id="plugin_table" class="tablesorter nicetable noauto">
	<thead>
		<tr>
			<th class="ui-widget-header">Channel</th>
			<th class="ui-widget-header">Active Energy Reading(kWh)</th>
			<th class="ui-widget-header">Active Power(kW)</th>
			<th class="ui-widget-header">Active Average Power(kW)</th>
			<th class="ui-widget-header">Peak Demand(kW)</th>
		</tr>
	</thead>
	<tbody>
		<tr><!-- template -->
			<td class="ui-widget-content">0</td>
			<td id="kWh_0" class="ui-widget-content"></td>
			<td id="kW_0" class="ui-widget-content"></td>
			<td id="kW_Avg_0" class="ui-widget-content"></td>
			<td id="kW_Demand_0" class="ui-widget-content"></td>			
		</tr>
		<tr><!-- template -->
			<td class="ui-widget-content">1</td>
			<td id="kWh_1" class="ui-widget-content"></td>
			<td id="kW_1" class="ui-widget-content"></td>
			<td id="kW_Avg_1" class="ui-widget-content"></td>
			<td id="kW_Demand_1" class="ui-widget-content"></td>
		</tr>
		<tr><!-- template -->
			<td class="ui-widget-content">2</td>
			<td id="kWh_2" class="ui-widget-content"></td>
			<td id="kW_2" class="ui-widget-content"></td>
			<td id="kW_Avg_2" class="ui-widget-content"></td>
			<td id="kW_Demand_2" class="ui-widget-content"></td>	
		</tr>
		<tr><!-- template -->
			<td class="ui-widget-content">3</td>
			<td id="kWh_3" class="ui-widget-content"></td>
			<td id="kW_3" class="ui-widget-content"></td>
			<td id="kW_Avg_3" class="ui-widget-content"></td>
			<td id="kW_Demand_3" class="ui-widget-content"></td>	
		</tr>
		<tr><!-- template -->
			<td class="ui-widget-content">4</td>
			<td id="kWh_4" class="ui-widget-content"></td>
			<td id="kW_4" class="ui-widget-content"></td>
			<td id="kW_Avg_4" class="ui-widget-content"></td>
			<td id="kW_Demand_4" class="ui-widget-content"></td>	
		</tr>
		<tr><!-- template -->
			<td class="ui-widget-content">5</td>
			<td id="kWh_5" class="ui-widget-content"></td>
			<td id="kW_5" class="ui-widget-content"></td>
			<td id="kW_Avg_5" class="ui-widget-content"></td>
			<td id="kW_Demand_5" class="ui-widget-content"></td>		
		</tr>
		<tr><!-- template -->
			<td class="ui-widget-content">6</td>
			<td id="kWh_6" class="ui-widget-content"></td>
			<td id="kW_6" class="ui-widget-content"></td>
			<td id="kW_Avg_6" class="ui-widget-content"></td>
			<td id="kW_Demand_6" class="ui-widget-content"></td>		
		</tr>
		<tr><!-- template -->
			<td class="ui-widget-content">7</td>
			<td id="kWh_7" class="ui-widget-content"></td>
			<td id="kW_7" class="ui-widget-content"></td>
			<td id="kW_Avg_7" class="ui-widget-content"></td>
			<td id="kW_Demand_7" class="ui-widget-content"></td>	
		</tr>
		<tr><!-- template -->
			<td class="ui-widget-content">8</td>
			<td id="kWh_8" class="ui-widget-content"></td>
			<td id="kW_8" class="ui-widget-content"></td>
			<td id="kW_Avg_8" class="ui-widget-content"></td>
			<td id="kW_Demand_8" class="ui-widget-content"></td>	
		</tr>
		<tr><!-- template -->
			<td class="ui-widget-content">9</td>
			<td id="kWh_9" class="ui-widget-content"></td>
			<td id="kW_9" class="ui-widget-content"></td>
			<td id="kW_Avg_9" class="ui-widget-content"></td>
			<td id="kW_Demand_9" class="ui-widget-content"></td>	
		</tr>
		<tr><!-- template -->
			<td class="ui-widget-content">10</td>
			<td id="kWh_10" class="ui-widget-content"></td>
			<td id="kW_10" class="ui-widget-content"></td>
			<td id="kW_Avg_10" class="ui-widget-content"></td>
			<td id="kW_Demand_10" class="ui-widget-content"></td>	
		</tr>
		<tr><!-- template -->
			<td class="ui-widget-content">11</td>
			<td id="kWh_11" class="ui-widget-content"></td>
			<td id="kW_11" class="ui-widget-content"></td>
			<td id="kW_Avg_11" class="ui-widget-content"></td>
			<td id="kW_Demand_11" class="ui-widget-content"></td>	
		</tr>
	</tbody>
</table>