<table id="plugin_table" class="tablesorter nicetable noauto">
	<thead>
		<tr>
			<th class="ui-widget-header">Channel</th>
			<th class="ui-widget-header">Active Energy Reading(kWh)</th>
			<th class="ui-widget-header">Reactive Energy Reading(kWARh)</th>
			<th class="ui-widget-header">Current(A)</th>
			<th class="ui-widget-header">Voltage(V)</th>
			<th class="ui-widget-header">Power Factor</th>
			<th class="ui-widget-header">Apparent Power(kVA)</th>
			<th class="ui-widget-header">Frequency(Hz)</th>
		</tr>
	</thead>
	<tbody>
		<tr><!-- template -->
			<td class="ui-widget-content">0</td>
			<td id="kWh_S0" class="ui-widget-content"></td>
			<td id="kWARh_S0" class="ui-widget-content"></td>
			<td id="A_0" class="ui-widget-content"></td>
			<td id="V_0" class="ui-widget-content"></td>
			<td id="PF_0" class="ui-widget-content"></td>
			<td id="kVA_0" class="ui-widget-content"></td>
			<td id="Hz_0" class="ui-widget-content"></td>			
		</tr>
		<tr><!-- template -->
			<td class="ui-widget-content">1</td>
			<td id="kWh_S1" class="ui-widget-content"></td>
			<td id="kWARh_S1" class="ui-widget-content"></td>
			<td id="A_1" class="ui-widget-content"></td>
			<td id="V_1" class="ui-widget-content"></td>
			<td id="PF_1" class="ui-widget-content"></td>
			<td id="kVA_1" class="ui-widget-content"></td>
			<td id="Hz_1" class="ui-widget-content"></td>			
		</tr>
		<tr><!-- template -->
			<td class="ui-widget-content">2</td>
			<td id="kWh_S2" class="ui-widget-content"></td>
			<td id="kWARh_S2" class="ui-widget-content"></td>
			<td id="A_2" class="ui-widget-content"></td>
			<td id="V_2" class="ui-widget-content"></td>
			<td id="PF_2" class="ui-widget-content"></td>
			<td id="kVA_2" class="ui-widget-content"></td>
			<td id="Hz_2" class="ui-widget-content"></td>			
		</tr>
		<tr><!-- template -->
			<td class="ui-widget-content">3</td>
			<td id="kWh_S3" class="ui-widget-content"></td>
			<td id="kWARh_S3" class="ui-widget-content"></td>
			<td id="A_3" class="ui-widget-content"></td>
			<td id="V_3" class="ui-widget-content"></td>
			<td id="PF_3" class="ui-widget-content"></td>
			<td id="kVA_3" class="ui-widget-content"></td>
			<td id="Hz_3" class="ui-widget-content"></td>			
		</tr>
		<tr><!-- template -->
			<td class="ui-widget-content">4</td>
			<td id="kWh_S4" class="ui-widget-content"></td>
			<td id="kWARh_S4" class="ui-widget-content"></td>
			<td id="A_4" class="ui-widget-content"></td>
			<td id="V_4" class="ui-widget-content"></td>
			<td id="PF_4" class="ui-widget-content"></td>
			<td id="kVA_4" class="ui-widget-content"></td>
			<td id="Hz_4" class="ui-widget-content"></td>			
		</tr>
		<tr><!-- template -->
			<td class="ui-widget-content">5</td>
			<td id="kWh_S5" class="ui-widget-content"></td>
			<td id="kWARh_S5" class="ui-widget-content"></td>
			<td id="A_5" class="ui-widget-content"></td>
			<td id="V_5" class="ui-widget-content"></td>
			<td id="PF_5" class="ui-widget-content"></td>
			<td id="kVA_5" class="ui-widget-content"></td>
			<td id="Hz_5" class="ui-widget-content"></td>			
		</tr>
	</tbody>
</table>