<div style="display:inline;vertical-align:middle">
	<ul id="paging" class="pagination">
	</ul>
</div>
<table id="plugin_table_0" class="tablesorter nicetable noauto">
	<thead>
		<tr>
			<th class="ui-widget-header" style="width:40%">Measure Name</th>
			<th class="ui-widget-header" style="width:15%">System</th>
			<th class="ui-widget-header" style="width:15%">Phase L1</th>
			<th class="ui-widget-header" style="width:15%">Phase L2</th>
			<th class="ui-widget-header" style="width:15%">Phase L3</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="ui-widget-content">Active Energy Reading(kWh)</td>
			<td id="Active_Energy_Reading_System" class="ui-widget-content">-</td>
			<td id="Active_Energy_Reading_L1" class="ui-widget-content">-</td>
			<td id="Active_Energy_Reading_L2" class="ui-widget-content">-</td>
			<td id="Active_Energy_Reading_L3" class="ui-widget-content">-</td>
		</tr>
		<tr>
			<td class="ui-widget-content">Reactive Energy Reading(kVARh)</td>
			<td id="Reactive_Energy_Reading_System" class="ui-widget-content">-</td>
			<td id="Reactive_Energy_Reading_L1" class="ui-widget-content">-</td>
			<td id="Reactive_Energy_Reading_L2" class="ui-widget-content">-</td>
			<td id="Reactive_Energy_Reading_L3" class="ui-widget-content">-</td>
		</tr>
		<tr>
			<td class="ui-widget-content">Apparent Energy Reading(kVAh)</td>
			<td id="Apparent_Energy_Reading_System" class="ui-widget-content">-</td>
			<td id="Apparent_Energy_Reading_L1" class="ui-widget-content">-</td>
			<td id="Apparent_Energy_Reading_L2" class="ui-widget-content">-</td>
			<td id="Apparent_Energy_Reading_L3" class="ui-widget-content">-</td>
		</tr>
				<tr>
			<td class="ui-widget-content">Active Power(kW)</td>
			<td id="Active_Power_System" class="ui-widget-content">-</td>
			<td id="Active_Power_L1" class="ui-widget-content">-</td>
			<td id="Active_Power_L2" class="ui-widget-content">-</td>
			<td id="Active_Power_L3" class="ui-widget-content">-</td>
		</tr>
		<tr>
			<td class="ui-widget-content">Reactive Power(kVAR)</td>
			<td id="Reactive_Power_System" class="ui-widget-content">-</td>
			<td id="Reactive_Power_L1" class="ui-widget-content">-</td>
			<td id="Reactive_Power_L2" class="ui-widget-content">-</td>
			<td id="Reactive_Power_L3" class="ui-widget-content">-</td>
		</tr>
		<tr>
			<td class="ui-widget-content">Apparent Power(kVA)</td>
			<td id="Apparent_Power_System" class="ui-widget-content">-</td>
			<td id="Apparent_Power_L1" class="ui-widget-content">-</td>
			<td id="Apparent_Power_L2" class="ui-widget-content">-</td>
			<td id="Apparent_Power_L3" class="ui-widget-content">-</td>
		</tr>
		<tr>
			<td class="ui-widget-content">L_N Voltage(V)</td>
			<td id="Voltage_System" class="ui-widget-content">-</td>
			<td id="Voltage_L1" class="ui-widget-content">-</td>
			<td id="Voltage_L2" class="ui-widget-content">-</td>
			<td id="Voltage_L3" class="ui-widget-content">-</td>
		</tr>
		<tr>
			<td class="ui-widget-content">Current(A)</td>
			<td id="Current_System" class="ui-widget-content">-</td>
			<td id="Current_L1" class="ui-widget-content">-</td>
			<td id="Current_L2" class="ui-widget-content">-</td>
			<td id="Current_L3" class="ui-widget-content">-</td>
		</tr>
		<tr>
			<td class="ui-widget-content">Current Neutral(A)</td>
			<td id="Current_Neutral_System" class="ui-widget-content">-</td>
			<td class="ui-widget-content">-</td>
			<td class="ui-widget-content">-</td>
			<td class="ui-widget-content">-</td>
		</tr>
		<tr>
			<td class="ui-widget-content">Peak Demand(kW)</td>
			<td id="ch0_kW_Demand_System" class="ui-widget-content">-</td>
			<td id="ch0_kW_Demand_L1" class="ui-widget-content">-</td>
			<td id="ch0_kW_Demand_L2" class="ui-widget-content">-</td>
			<td id="ch0_kW_Demand_L3" class="ui-widget-content">-</td>
		</tr>
		<tr>
			<td class="ui-widget-content">Power Factor</td>
			<td id="Power_Factor_System" class="ui-widget-content">-</td>
			<td id="Power_Factor_L1" class="ui-widget-content">-</td>
			<td id="Power_Factor_L2" class="ui-widget-content">-</td>
			<td id="Power_Factor_L3" class="ui-widget-content">-</td>
		</tr>
		<tr>
			<td class="ui-widget-content">L1_L2 Voltage(V)</td>
			<td id="Voltage_L1-L2_System" class="ui-widget-content">-</td>
			<td class="ui-widget-content">-</td>
			<td class="ui-widget-content">-</td>
			<td class="ui-widget-content">-</td>
		</tr>
		<tr>
			<td class="ui-widget-content">L2_L3 Voltage(V)</td>
			<td id="Voltage_L2-L3_System" class="ui-widget-content">-</td>
			<td class="ui-widget-content">-</td>
			<td class="ui-widget-content">-</td>
			<td class="ui-widget-content">-</td>
		</tr>
		<tr>
			<td class="ui-widget-content">L1_L3 Voltage(V)</td>
			<td id="Voltage_L3-L1_System" class="ui-widget-content">-</td>
			<td class="ui-widget-content">-</td>
			<td class="ui-widget-content">-</td>
			<td class="ui-widget-content">-</td>
		</tr>
		<tr>
			<td class="ui-widget-content">Line Frequency(Hz)</td>
			<td id="Frequency_System" class="ui-widget-content">-</td>
			<td class="ui-widget-content">-</td>
			<td class="ui-widget-content">-</td>
			<td class="ui-widget-content">-</td>
		</tr>		
	</tbody >
</table>