<table id="plugin_table" class="tablesorter nicetable noauto">
	<thead>
		<tr>
			<th class="ui-widget-header">Measurement</th>
			<th class="ui-widget-header">Value</th>
		</tr>
	</thead>
	<tbody>
	<tr>
		<td class="ui-widget-content">Velocity(m/s)</td>
		<td id="Velocity" class="ui-widget-content"></td>
	</tr>		
	<tr>
		<td class="ui-widget-content">Act Flow Rate(l/s)</td>
		<td id="Volumetric" class="ui-widget-content"> </td>
	</tr>		
	<tr>
		<td class="ui-widget-content">Volume Reading(cu m)</td>
		<td id="Volume_Reading" class="ui-widget-content"></td>
	</tr>
	</tbody>
</table>