<table id="plugin_table" class="tablesorter nicetable noauto">
	<thead>
		<tr>
			<th class="ui-widget-header">Measurement</th>
			<th class="ui-widget-header">System</th>
			<th class="ui-widget-header">Phase L1</th>
			<th class="ui-widget-header">Phase L2</th>
			<th class="ui-widget-header">Phase L3</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="ui-widget-content">L_N Voltage(V)</td>
			<td id="System_Voltage" class="ui-widget-content">-</td>
			<td id="Phase1_Voltage" class="ui-widget-content">-</td>
			<td id="Phase2_Voltage" class="ui-widget-content">-</td>
			<td id="Phase3_Voltage" class="ui-widget-content">-</td>
		</tr>
		<tr>
			<td class="ui-widget-content">Current(A)</td>
			<td id="System_Current" class="ui-widget-content">-</td>
			<td id="Phase1_Current" class="ui-widget-content">-</td>
			<td id="Phase2_Current" class="ui-widget-content">-</td>
			<td id="Phase3_Current" class="ui-widget-content">-</td>
		</tr>
		<tr>
			<td class="ui-widget-content">Active Energy Reading(kWh)</td>
			<td id="System_Active_Energy_Reading" class="ui-widget-content">-</td>
			<td id="" class="ui-widget-content">-</td>
			<td id="" class="ui-widget-content">-</td>
			<td id="" class="ui-widget-content">-</td>
		</tr>
		<tr>
			<td class="ui-widget-content">Reactive Energy Reading(kVARh)</td>
			<td id="System_Reactive_Energy_Reading" class="ui-widget-content">-</td>
			<td id="" class="ui-widget-content">-</td>
			<td id="" class="ui-widget-content">-</td>
			<td id="" class="ui-widget-content">-</td>
		</tr>
		<tr>
			<td class="ui-widget-content">Apparent Energy Reading(kVAh)</td>
			<td id="System_Apparent_Energy_Reading" class="ui-widget-content">-</td>
			<td id="" class="ui-widget-content">-</td>
			<td id="" class="ui-widget-content">-</td>
			<td id="" class="ui-widget-content">-</td>
		</tr>
		<tr>
			<td class="ui-widget-content">Active Power(kW)</td>
			<td id="System_Active_Power" class="ui-widget-content">-</td>
			<td id="Phase1_Active_Power" class="ui-widget-content">-</td>
			<td id="Phase2_Active_Power" class="ui-widget-content">-</td>
			<td id="Phase3_Active_Power" class="ui-widget-content">-</td>
		</tr>
		<tr>
			<td class="ui-widget-content">Reactive Power(kVAR)</td>
			<td id="System_Reactive_Power" class="ui-widget-content">-</td>
			<td id="Phase1_Reactive_Power" class="ui-widget-content">-</td>
			<td id="Phase2_Reactive_Power" class="ui-widget-content">-</td>
			<td id="Phase3_Reactive_Power" class="ui-widget-content">-</td>
		</tr>
		<tr>
			<td class="ui-widget-content">Apparent Power(kVA)</td>
			<td id="System_Apparent_Power" class="ui-widget-content">-</td>
			<td id="Phase1_Apparent_Power" class="ui-widget-content">-</td>
			<td id="Phase2_Apparent_Power" class="ui-widget-content">-</td>
			<td id="Phase3_Apparent_Power" class="ui-widget-content">-</td>
		</tr>
		<tr>
			<td class="ui-widget-content">Peak Demand(kW)</td>
			<td id="System_Peak_Demand" class="ui-widget-content">-</td>
			<td id="" class="ui-widget-content">-</td>
			<td id="" class="ui-widget-content">-</td>
			<td id="" class="ui-widget-content">-</td>
		</tr>
		<tr>
			<td class="ui-widget-content">Power Factor</td>
			<td id="System_Power_Factor" class="ui-widget-content">-</td>
			<td id="Phase1_Power_Factor" class="ui-widget-content">-</td>
			<td id="Phase2_Power_Factor" class="ui-widget-content">-</td>
			<td id="Phase3_Power_Factor" class="ui-widget-content">-</td>
		</tr>
		<tr>
			<td class="ui-widget-content">L1_L2 Voltage(V)</td>
			<td id="System_Voltage_L1-L2" class="ui-widget-content">-</td>
			<td class="ui-widget-content">-</td>
			<td class="ui-widget-content">-</td>
			<td class="ui-widget-content">-</td>
		</tr>
		<tr>
			<td class="ui-widget-content">L2_L3 Voltage(V)</td>
			<td id="System_Voltage_L2-L3" class="ui-widget-content">-</td>
			<td class="ui-widget-content">-</td>
			<td class="ui-widget-content">-</td>
			<td class="ui-widget-content">-</td>
		</tr>
		<tr>
			<td class="ui-widget-content">L1_L3 Voltage(V)</td>
			<td id="System_Voltage_L3-L1" class="ui-widget-content">-</td>
			<td class="ui-widget-content">-</td>
			<td class="ui-widget-content">-</td>
			<td class="ui-widget-content">-</td>
		</tr>
		<tr>
			<td class="ui-widget-content">Line Frequency(Hz)</td>
			<td id="frequency" class="ui-widget-content">-</td>
			<td class="ui-widget-content">-</td>
			<td class="ui-widget-content">-</td>
			<td class="ui-widget-content">-</td>
		</tr>		
	</tbody >
</table>