		<table id="real_time_data_table" border="1" class="tablesorter nicetable noauto" style="width:100%">
			<thead>
				<th class="ui-widget-header" style="width:10%">Channel</th>
				<th class="ui-widget-header" style="width:22%">Register</th>
				<th class="ui-widget-header" style="width:26%">Measure</th>
				<th class="ui-widget-header" style="width:10%">Value</th>
				<th class="ui-widget-header" style="width:10%">Unit</th>
		</thead>
			<tbody>
				<tr style="display:none" id="row_0">
					<td><label id="channel_0"></label></td>
					<td><label id="register_0"></label></td>
					<td><label id="name_0"></label></td>
					<td><label id="data_0"></label></td>
					<td><label id="unit_0"></label></td>
				</tr>
				
				<tr style="display:none" id="row_1">
					<td><label id="channel_1"></label></td>
					<td><label id="register_1"></label></td>
					<td><label id="name_1"></label></td>
					<td><label id="data_1"></label></td>
					<td><label id="unit_1"></label></td>
				</tr>
				
				<tr style="display:none" id="row_2">
					<td><label id="channel_2"></label></td>
					<td><label id="register_2"></label></td>
					<td><label id="name_2"></label></td>
					<td><label id="data_2"></label></td>
					<td><label id="unit_2"></label></td>
				</tr>
				
				<tr style="display:none" id="row_3">
					<td><label id="channel_3"></label></td>
					<td><label id="register_3"></label></td>
					<td><label id="name_3"></label></td>
					<td><label id="data_3"></label></td>
					<td><label id="unit_3"></label></td>
				</tr>
				
				<tr style="display:none" id="row_4">
					<td><label id="channel_4"></label></td>
					<td><label id="register_4"></label></td>
					<td><label id="name_4"></label></td>
					<td><label id="data_4"></label></td>
					<td><label id="unit_4"></label></td>
				</tr>
				
				<tr style="display:none" id="row_5">
					<td><label id="channel_5"></label></td>
					<td><label id="register_5"></label></td>
					<td><label id="name_5"></label></td>
					<td><label id="data_5"></label></td>
					<td><label id="unit_5"></label></td>
				</tr>
				
				<tr style="display:none" id="row_6">
					<td><label id="channel_6"></label></td>
					<td><label id="register_6"></label></td>
					<td><label id="name_6"></label></td>
					<td><label id="data_6"></label></td>
					<td><label id="unit_6"></label></td>
				</tr>
				
				<tr style="display:none" id="row_7">
					<td><label id="channel_7"></label></td>
					<td><label id="register_7"></label></td>
					<td><label id="name_7"></label></td>
					<td><label id="data_7"></label></td>
					<td><label id="unit_7"></label></td>
				</tr>
				
				<tr style="display:none" id="row_8">
					<td><label id="channel_8"></label></td>
					<td><label id="register_8"></label></td>
					<td><label id="name_8"></label></td>
					<td><label id="data_8"></label></td>
					<td><label id="unit_8"></label></td>
				</tr>
				
				<tr style="display:none" id="row_9">
					<td><label id="channel_9"></label></td>
					<td><label id="register_9"></label></td>
					<td><label id="name_9"></label></td>
					<td><label id="data_9"></label></td>
					<td><label id="unit_9"></label></td>
				</tr>
				
				<tr style="display:none" id="row_10">
					<td><label id="channel_10"></label></td>
					<td><label id="register_10"></label></td>
					<td><label id="name_10"></label></td>
					<td><label id="data_10"></label></td>
					<td><label id="unit_10"></label></td>
				</tr>
				
				<tr style="display:none" id="row_11">
					<td><label id="channel_11"></label></td>
					<td><label id="register_11"></label></td>
					<td><label id="name_11"></label></td>
					<td><label id="data_11"></label></td>
					<td><label id="unit_11"></label></td>
				</tr>
				
				<tr style="display:none" id="row_12">
					<td><label id="channel_12"></label></td>
					<td><label id="register_12"></label></td>
					<td><label id="name_12"></label></td>
					<td><label id="data_12"></label></td>
					<td><label id="unit_12"></label></td>
				</tr>
				
				<tr style="display:none" id="row_13">
					<td><label id="channel_13"></label></td>
					<td><label id="register_13"></label></td>
					<td><label id="name_13"></label></td>
					<td><label id="data_13"></label></td>
					<td><label id="unit_13"></label></td>
				</tr>
				
				<tr style="display:none" id="row_14">
					<td><label id="channel_14"></label></td>
					<td><label id="register_14"></label></td>
					<td><label id="name_14"></label></td>
					<td><label id="data_14"></label></td>
					<td><label id="unit_14"></label></td>
				</tr>
				
				<tr style="display:none" id="row_15">
					<td><label id="channel_15"></label></td>
					<td><label id="register_15"></label></td>
					<td><label id="name_15"></label></td>
					<td><label id="data_15"></label></td>
					<td><label id="unit_15"></label></td>
				</tr>
				
				<tr style="display:none" id="row_16">
					<td><label id="channel_16"></label></td>
					<td><label id="register_16"></label></td>
					<td><label id="name_16"></label></td>
					<td><label id="data_16"></label></td>
					<td><label id="unit_16"></label></td>
				</tr>
				
				<tr style="display:none" id="row_17">
					<td><label id="channel_17"></label></td>
					<td><label id="register_17"></label></td>
					<td><label id="name_17"></label></td>
					<td><label id="data_17"></label></td>
					<td><label id="unit_17"></label></td>
				</tr>
				
				<tr style="display:none" id="row_18">
					<td><label id="channel_18"></label></td>
					<td><label id="register_18"></label></td>
					<td><label id="name_18"></label></td>
					<td><label id="data_18"></label></td>
					<td><label id="unit_18"></label></td>
				</tr>
				
				<tr style="display:none" id="row_19">
					<td><label id="channel_19"></label></td>
					<td><label id="register_19"></label></td>
					<td><label id="name_19"></label></td>
					<td><label id="data_19"></label></td>
					<td><label id="unit_19"></label></td>
				</tr>
				
				<tr style="display:none" id="row_20">
					<td><label id="channel_20"></label></td>
					<td><label id="register_20"></label></td>
					<td><label id="name_20"></label></td>
					<td><label id="data_20"></label></td>
					<td><label id="unit_20"></label></td>
				</tr>
				
				<tr style="display:none" id="row_21">
					<td><label id="channel_21"></label></td>
					<td><label id="register_21"></label></td>
					<td><label id="name_21"></label></td>
					<td><label id="data_21"></label></td>
					<td><label id="unit_21"></label></td>
				</tr>
				
				<tr style="display:none" id="row_22">
					<td><label id="channel_22"></label></td>
					<td><label id="register_22"></label></td>
					<td><label id="name_22"></label></td>
					<td><label id="data_22"></label></td>
					<td><label id="unit_22"></label></td>
				</tr>
				
				<tr style="display:none" id="row_23">
					<td><label id="channel_23"></label></td>
					<td><label id="register_23"></label></td>
					<td><label id="name_23"></label></td>
					<td><label id="data_23"></label></td>
					<td><label id="unit_23"></label></td>
				</tr>
				
				<tr style="display:none" id="row_24">
					<td><label id="channel_24"></label></td>
					<td><label id="register_24"></label></td>
					<td><label id="name_24"></label></td>
					<td><label id="data_24"></label></td>
					<td><label id="unit_24"></label></td>
				</tr>
				
				<tr style="display:none" id="row_25">
					<td><label id="channel_25"></label></td>
					<td><label id="register_25"></label></td>
					<td><label id="name_25"></label></td>
					<td><label id="data_25"></label></td>
					<td><label id="unit_25"></label></td>
				</tr>
				
				<tr style="display:none" id="row_26">
					<td><label id="channel_26"></label></td>
					<td><label id="register_26"></label></td>
					<td><label id="name_26"></label></td>
					<td><label id="data_26"></label></td>
					<td><label id="unit_26"></label></td>
				</tr>
				
				<tr style="display:none" id="row_27">
					<td><label id="channel_27"></label></td>
					<td><label id="register_27"></label></td>
					<td><label id="name_27"></label></td>
					<td><label id="data_27"></label></td>
					<td><label id="unit_27"></label></td>
				</tr>
				
				
				<tr style="display:none" id="row_28">
					<td><label id="channel_28"></label></td>
					<td><label id="register_28"></label></td>
					<td><label id="name_28"></label></td>
					<td><label id="data_28"></label></td>
					<td><label id="unit_28"></label></td>
				</tr>
				
				
				<tr style="display:none" id="row_29">
					<td><label id="channel_29"></label></td>
					<td><label id="register_29"></label></td>
					<td><label id="name_29"></label></td>
					<td><label id="data_29"></label></td>
					<td><label id="unit_29"></label></td>
				</tr>
				
				<tr style="display:none" id="row_30">
					<td><label id="channel_30"></label></td>
					<td><label id="register_30"></label></td>
					<td><label id="name_30"></label></td>
					<td><label id="data_30"></label></td>
					<td><label id="unit_30"></label></td>
				</tr>
				
				<tr style="display:none" id="row_31">
					<td><label id="channel_31"></label></td>
					<td><label id="register_31"></label></td>
					<td><label id="name_31"></label></td>
					<td><label id="data_31"></label></td>
					<td><label id="unit_31"></label></td>
				</tr>
				
				<tr style="display:none" id="row_32">
					<td><label id="channel_32"></label></td>
					<td><label id="register_32"></label></td>
					<td><label id="name_32"></label></td>
					<td><label id="data_32"></label></td>
					<td><label id="unit_32"></label></td>
				</tr>
				
				<tr style="display:none" id="row_33">
					<td><label id="channel_33"></label></td>
					<td><label id="register_33"></label></td>
					<td><label id="name_33"></label></td>
					<td><label id="data_33"></label></td>
					<td><label id="unit_33"></label></td>
				</tr>
				
				<tr style="display:none" id="row_34">
					<td><label id="channel_34"></label></td>
					<td><label id="register_34"></label></td>
					<td><label id="name_34"></label></td>
					<td><label id="data_34"></label></td>
					<td><label id="unit_34"></label></td>
				</tr>
				
				<tr style="display:none" id="row_35">
					<td><label id="channel_35"></label></td>
					<td><label id="register_35"></label></td>
					<td><label id="name_35"></label></td>
					<td><label id="data_35"></label></td>
					<td><label id="unit_35"></label></td>
				</tr>
				
				<tr style="display:none" id="row_36">
					<td><label id="channel_36"></label></td>
					<td><label id="register_36"></label></td>
					<td><label id="name_36"></label></td>
					<td><label id="data_36"></label></td>
					<td><label id="unit_36"></label></td>
				</tr>
				
				<tr style="display:none" id="row_37">
					<td><label id="channel_37"></label></td>
					<td><label id="register_37"></label></td>
					<td><label id="name_37"></label></td>
					<td><label id="data_37"></label></td>
					<td><label id="unit_37"></label></td>
				</tr>
				
				<tr style="display:none" id="row_38">
					<td><label id="channel_38"></label></td>
					<td><label id="register_38"></label></td>
					<td><label id="name_38"></label></td>
					<td><label id="data_38"></label></td>
					<td><label id="unit_38"></label></td>
				</tr>
				
				<tr style="display:none" id="row_39">
					<td><label id="channel_39"></label></td>
					<td><label id="register_39"></label></td>
					<td><label id="name_39"></label></td>
					<td><label id="data_39"></label></td>
					<td><label id="unit_39"></label></td>
				</tr>
				
				<tr style="display:none" id="row_40">
					<td><label id="channel_40"></label></td>
					<td><label id="register_40"></label></td>
					<td><label id="name_40"></label></td>
					<td><label id="data_40"></label></td>
					<td><label id="unit_40"></label></td>
				</tr>
			</tbody>
		</table>
   <br/>

