<table id="plugin_table_1" class="tablesorter nicetable noauto">
	<thead>
		<tr>
			<th class="ui-widget-header" style="width:60%">Input Measures</th>
			<th class="ui-widget-header">Value</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="ui-widget-content">Voltage 1(V)</td>
			<td id="inputVoltageL1N"  class="ui-widget-content"></td>
		</tr>	
		<tr>
			<td class="ui-widget-content">Voltage 2(V)</td>
			<td id="inputVoltageL2N" class="ui-widget-content"></td>
		</tr>		
		<tr>
			<td class="ui-widget-content">Voltage 3(V)</td>
			<td id="inputVoltageL3N" class="ui-widget-content"></td>
		</tr>
		<tr>
			<td class="ui-widget-content">Current 1(A)</td>
			<td id="inputCurrentL1"  class="ui-widget-content"></td>
		</tr>	
		<tr>
			<td class="ui-widget-content">Current 2(A)</td>
			<td id="inputCurrentL2"  class="ui-widget-content"></td>
		</tr>
		<tr>
			<td class="ui-widget-content">Current 3(A)</td>
			<td id="inputCurrentL3"  class="ui-widget-content"></td>
		</tr>
		<tr>
			<td class="ui-widget-content">Frequency(Hz)</td>
			<td id="inputFrequency"  class="ui-widget-content"></td>
		</tr>
	</tbody>
</table>
<br />
<table id="plugin_table_2" class="tablesorter nicetable noauto">
	<thead>
		<tr>
			<th class="ui-widget-header" style="width:60%">Output Measures</th>
			<th class="ui-widget-header">Value</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="ui-widget-content">Voltage 1(V)</td>
			<td id="outputStarVoltageL1N"  class="ui-widget-content"></td>
		</tr>	
		<tr>
			<td class="ui-widget-content">Voltage 2(V)</td>
			<td id="outputStarVoltageL2N"  class="ui-widget-content"></td>
		</tr>		
		<tr>
			<td class="ui-widget-content">Voltage 3(V)</td>
			<td id="outputStarVoltageL3N"  class="ui-widget-content"></td>
		</tr>
		<tr>
			<td class="ui-widget-content">Current 1(A)</td>
			<td id="outputCurrentL1"  class="ui-widget-content"></td>
		</tr>	
		<tr>
			<td class="ui-widget-content">Current 2(A)</td>
			<td id="outputCurrentL2"  class="ui-widget-content"></td>
		</tr>
		<tr>
			<td class="ui-widget-content">Current 3(A)</td>
			<td id="outputCurrentL3"  class="ui-widget-content"></td>
		</tr>
		
		<tr>
			<td class="ui-widget-content">Peak Current 1(A)</td>
			<td id="outputPeakCurrentL1"  class="ui-widget-content"></td>
		</tr>	
		<tr>
			<td class="ui-widget-content">Peak Current 2(A)</td>
			<td id="outputPeakCurrentL2"  class="ui-widget-content"></td>
		</tr>
		<tr>
			<td class="ui-widget-content">Peak Current 3(A)</td>
			<td id="outputPeakCurrentL3"  class="ui-widget-content"></td>
		</tr>
		
		<tr>
			<td class="ui-widget-content">Load Phase 1(%)</td>
			<td id="loadPhaseL1"  class="ui-widget-content"></td>
		</tr>	
		<tr>
			<td class="ui-widget-content">Load Phase 2(%)</td>
			<td id="loadPhaseL2"  class="ui-widget-content"></td>
		</tr>
		<tr>
			<td class="ui-widget-content">Load Phase 3(%)</td>
			<td id="loadPhaseL3"  class="ui-widget-content"></td>
		</tr>
		
		<tr>
			<td class="ui-widget-content">Active Power 1(kW)</td>
			<td id="outputActivePowerL1"  class="ui-widget-content"></td>
		</tr>	
		<tr>
			<td class="ui-widget-content">Active Power 2(kW)</td>
			<td id="outputActivePowerL2"  class="ui-widget-content"></td>
		</tr>
		<tr>
			<td class="ui-widget-content">Active Power 3(kW)</td>
			<td id="outputActivePowerL3"  class="ui-widget-content"></td>
		</tr>	
		
		<tr>
			<td class="ui-widget-content">Frequency(Hz)</td>
			<td id="outputFrequency"  class="ui-widget-content"></td>
		</tr>
	</tbody>
</table>
<br />
<table id="plugin_table_3" class="tablesorter nicetable noauto">
	<thead>
		<tr>
			<th class="ui-widget-header" style="width:60%">Bypass Measures</th>
			<th class="ui-widget-header">Value</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="ui-widget-content">Voltage 1(V)</td>
			<td id="bypassMainsVoltageL1N"  class="ui-widget-content"></td>
		</tr>	
		<tr>
			<td class="ui-widget-content">Voltage 2(V)</td>
			<td id="bypassMainsVoltageL2N"  class="ui-widget-content"></td>
		</tr>		
		<tr>
			<td class="ui-widget-content">Voltage 3(V)</td>
			<td id="bypassMainsVoltageL3N"  class="ui-widget-content"></td>
		</tr>
		<tr>
			<td class="ui-widget-content">Frequency(Hz)</td>
			<td id="bypassFrequency"  class="ui-widget-content"></td>
		</tr>
	</tbody>
</table>
<br />
<table id="plugin_table_4" class="tablesorter nicetable noauto">
	<thead>
		<tr>
			<th class="ui-widget-header" style="width:60%">Battery Measures</th>
			<th class="ui-widget-header">Value</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="ui-widget-content">Voltage(V)</td>
			<td id="batteryVoltage"  class="ui-widget-content"></td>
		</tr>	
		<tr>
			<td class="ui-widget-content">Positive Voltage(V)</td>
			<td id="positiveBatteryVoltage"  class="ui-widget-content"></td>
		</tr>		
		<tr>
			<td class="ui-widget-content">Negative Voltage(V)</td>
			<td id="negativeBatteryVoltage"  class="ui-widget-content"></td>
		</tr>
		<tr>
			<td class="ui-widget-content">Current(A)</td>
			<td id="batteryCurrent"  class="ui-widget-content"></td>
		</tr>	
		<tr>
			<td class="ui-widget-content">Percentage(%)</td>
			<td id="remainingBatteryCapacity"  class="ui-widget-content"></td>
		</tr>
		<tr>
			<td class="ui-widget-content">Remain Time(min)</td>
			<td id="remainingBackupTimeMins"  class="ui-widget-content"></td>
		</tr>
		<tr>
			<td class="ui-widget-content">Frequency(Hz)</td>
			<td id="inputFrequency"  class="ui-widget-content"></td>
		</tr>
	</tbody>
</table>
<br />
<table id="plugin_table_5" class="tablesorter nicetable noauto">
	<thead>
		<tr>
			<th class="ui-widget-header" style="width:60%">UPS System</th>
			<th class="ui-widget-header">Value</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="ui-widget-content">Total Energy(kWh)</td>
			<td id="totalOutputEnergy"  class="ui-widget-content"></td>
		</tr>	
		<tr>
			<td class="ui-widget-content">Temperature(&deg;C)</td>
			<td id="internalUpsTemperature"  class="ui-widget-content"></td>
		</tr>		
		<tr>
			<td class="ui-widget-content">Sensor 1 Temperature(&deg;C)</td>
			<td id="sensor1Temperature"  class="ui-widget-content"></td>
		</tr>
		<tr>
			<td class="ui-widget-content">Sensor 2 Temperature(&deg;C)</td>
			<td id="sensor2Temperature"  class="ui-widget-content"></td>
		</tr>	
	</tbody>
</table>

<table id="plugin_table_6" class="tablesorter nicetable noauto">
	<thead>
		<tr>
			<th class="ui-widget-header" style="width:60%">UPS Status</th>
			<th class="ui-widget-header">Value</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="ui-widget-content">Communication lost with UPS</td>
			<td id="lostCommsWithUps"  class="ui-widget-content"></td>
		</tr>	
		<tr>
			<td class="ui-widget-content">Alarm overload</td>
			<td id="alarmOverload"  class="ui-widget-content"></td>
		</tr>			
	</tbody>
</table>


