<table id="plugin_table" class="tablesorter nicetable noauto">
	<thead>
		<tr>
			<th class="ui-widget-header">Measurement</th>
			<th class="ui-widget-header">Value</th>
		</tr>
	</thead>
	<tbody>
	<tr>
		<td class="ui-widget-content">Active Energy Reading(kWh)</td>
		<td id="Energy"  class="ui-widget-content"></td>
	</tr>		
	<tr>
		<td class="ui-widget-content">Active Power(kW)</td>
		<td id="Power"  class="ui-widget-content"> </td>
	</tr>		
	<tr>
		<td class="ui-widget-content">Volume Reading(cu m)</td>
		<td id="Volume"  class="ui-widget-content"></td>
	</tr>
	<tr>
		<td class="ui-widget-content">Flow Rate(l/s)</td>
		<td id="FlowRate"  class="ui-widget-content"></td>
	</tr>
	<tr>
		<td class="ui-widget-content">Supply Temperature(&deg;C)</td>
		<td id="WaterSupplyTemperature"  class="ui-widget-content"></td>
	</tr>
	<tr>
		<td class="ui-widget-content">Return Temperature(&deg;C)</td>
		<td id="WaterReturnTemperature"  class="ui-widget-content"></td>
	</tr>
	<tr>
		<td class="ui-widget-content">Difference Temperature(&deg;C)</td>
		<td id="DiffTemperature"  class="ui-widget-content"></td>
	</tr>
	</tbody>
</table>