<table id="plugin_table" class="tablesorter nicetable noauto">
	<thead>
		<tr>
			<th class="ui-widget-header">Measurement</th>
			<th class="ui-widget-header">Value</th>
		</tr>
	</thead>
	<tbody>
	<tr>
		<td class="ui-widget-content">Velocity(<label id="Velocity_Unit"></label>)</td>
		<td id="Velocity" class="ui-widget-content"></td>
	</tr>		
	<tr>
		<td class="ui-widget-content">Flow Rate 1(<label id="Volumetric_Unit_s"></label>)</td>
		<td id="Volumetric_s" class="ui-widget-content"></td>
	</tr>
	<tr>
		<td class="ui-widget-content">Flow Rate 2(<label id="Volumetric_Unit_m"></label>)</td>
		<td id="Volumetric_m" class="ui-widget-content"></td>
	</tr>
	<tr>
		<td class="ui-widget-content">Flow Rate 3(<label id="Volumetric_Unit_h"></label>)</td>
		<td id="Volumetric_h" class="ui-widget-content"></td>
	</tr>	
	<tr>
		<td class="ui-widget-content">Volume Reading(<label id="Total_Unit"></label>)</td>
		<td id="Volume_Reading" class="ui-widget-content"></td>
	</tr>
	<tr>
		<td class="ui-widget-content">Error Code</td>
		<td id="errorCode" class="ui-widget-content"></td>
	</tr>
	</tbody>
</table>