<label><b>Configuration</b></label>
<br/>
<br/>
<br/>
<div id="device">
	<table id="configuration" class='nicetable ui-widget' style="width:100%">
		<tr>
			<th class="channel-header" style="width:30%"><b>Index</b></th>
			<th class="channel-header" style="width:30%"><b>Register</b></th>
			<th class="channel-header" style="width:30%"><b>Value</b></th>
			<th class="show-writting-status" style="display:none;width:10%"></th>
		</tr>

		<tr>
			<td><label>0</label></td>
			<td><label>Heating mode</label></td>
			<td><!-- <input style='width:40%' type="number" class='ui-corner-all inputText' id='1' value='0'> -->
				<select style='width:40%' class="ui-corner-all" id='0'>
				<option value="0" >heat</option>
				<option value="1">cool</option>
				<option value="2">heat/cool</option>
				<option value="3">charge/discharge</option>
				</select>
			</td>
			<td id="index_1" class="show-writting-status" style="display:none"></td>
		</tr>
		<tr>
			<td><label>1</label></td>
			<td><label>Total reset</label></td>
			<td><!-- <input style='width:40%' type="number" class='ui-corner-all inputText' id='1' value='0'> -->
				<select style='width:40%' class="ui-corner-all" id='1'>
				<option value="0" >No Action</option>
				<option value="1">Reset Totals</option>
				</select>
			</td>
		</tr>
		
		<tr>
			<td><label>2</label></td>
			<td><label>Flowmeter location</label></td>
			<td><!-- <input style='width:40%' type="number" class='ui-corner-all inputText' id='3' value='0'> -->
				<select style='width:40%' class="ui-corner-all" id='3'>
				<option value="0">feed line</option>
				<option value="1">return line</option>
				</select>
			</td>
		</tr>
		
		<tr>
			<td><label>3</label></td>
			<td><label>Relay 0 mode /4-20mA mode </label></td>
			<td><!-- <input style='width:40%' type="number" class='ui-corner-all inputText' id='3' value='0'> -->
				<select style='width:40%' class="ui-corner-all" id='3'>
				<option value="0">flow high </option>
				<option value="1">flow low </option>
				<option value="2">power high </option>
				<option value="3">power low </option>
				<option value="4"> ∆t° high </option>
				<option value="5"> ∆t° low  </option>
				<option value="6"> feed t° high  </option>
				<option value="7"> feed t° low </option>
				<option value="8"> return t° high  </option>
				<option value="9"> return t° low</option>
				</select>
			</td>
		</tr>
		<tr>
			<td><label>4</label></td>
			<td><label>Relay 1 mode</label></td>
			<td><!-- <input style='width:40%' type="number" class='ui-corner-all inputText' id='3' value='0'> -->
				<select style='width:40%' class="ui-corner-all" id='4'>
				<option value="0">flow high </option>
				<option value="1">flow low </option>
				<option value="2">power high </option>
				<option value="3">power low </option>
				<option value="4"> ∆t° high </option>
				<option value="5"> ∆t° low  </option>
				<option value="6"> feed t° high  </option>
				<option value="7"> feed t° low </option>
				<option value="8"> return t° high  </option>
				<option value="9"> return t° low</option>
				</select>
			</td>
		</tr>
		<tr>
			<td><label>5</label></td>
			<td><label>Pulse out mode </label></td>
			<td><!-- <input style='width:40%' type="number" class='ui-corner-all inputText' id='3' value='0'> -->
				<select style='width:40%' class="ui-corner-all" id='5'>
					<option value="0">volume</option>
					<option value="1">energy</option>
				</select>
			</td>
		</tr>
		
		<tr>
			<td><label>6</label></td>
			<td><label>Year </label></td>
			<td><input style='width:40%' type='number' class='ui-corner-all inputText' id='6' value='0' min='0' max='99'></td>
		</tr>
		<tr>
			<td><label>7</label></td>
			<td><label>Month </label></td>
			<td><input style='width:40%' type='number' class='ui-corner-all inputText' id='7' value='1' min='1' max='12'></td>
		</tr>
		<tr>
			<td><label>8</label></td>
			<td><label>Day </label></td>
			<td><input style='width:40%' type='number' class='ui-corner-all inputText' id='8' value='1' min='1' max='31'></td>
		</tr>
		<tr>
			<td><label>9</label></td>
			<td><label>Hour </label></td>
			<td><input style='width:40%' type='number' class='ui-corner-all inputText' id='9' value='0' min='0' max='23'></td>
		</tr>
		<tr>
			<td><label>10</label></td>
			<td><label>Minute </label></td>
			<td><input style='width:40%' type='number' class='ui-corner-all inputText' id='9' value='0' min='0' max='59'></td>
		</tr>
		<tr>
			<td><label>11</label></td>
			<td><label>Peak mode</label></td>
			<td>
				<select style='width:40%' class="ui-corner-all" id='11'>
					<option value="0">off</option>
					<option value="1">on</option>
				</select>
			</td>
		</tr>
		<tr>
			<td><label>12</label></td>
			<td><label>Peak on setpoint</label></td>
			<td><input style='width:40%' type='number' class='ui-corner-all inputText' id='12' value='0' min='0' max='23'></td>

		</tr>
		<tr>
			<td><label>13</label></td>
			<td><label>Peak on setpoint</label></td>
			<td><input style='width:40%' type='number' class='ui-corner-all inputText' id='13' value='0' min='0' max='23'></td>

		</tr>
		<tr>
			<td><label>14</label></td>
			<td><label>Logging mode </label></td>
			<td>
				<select style='width:40%' class="ui-corner-all" id='14'>
					<option value="0">off</option>
					<option value="1">month</option>
					<option value="2">week</option>
					<option value="3">day</option>
					<option value="4">hour</option>
				</select>
			</td>
		</tr>
		<tr>
			<td><label>15</label></td>
			<td><label>K-factor</label></td>
			<td><input style='width:40%' type='text' class='ui-corner-all inputText' id='15'></td>

		</tr>
		<tr>
			<td><label>17</label></td>
			<td><label>Cutoff frequency </label></td>
			<td><input style='width:40%' type='text' class='ui-corner-all inputText' id='17'></td>

		</tr>
		<tr>
			<td><label>19</label></td>
			<td><label>Relay 0 setpoint/4mA setpoint </label></td>
			<td><input style='width:40%' type='text' class='ui-corner-all inputText' id='19'></td>

		</tr>
		<tr>
			<td><label>21</label></td>
			<td><label>Relay 1 setpoint/20mA setpoint   </label></td>
			<td><input style='width:40%' type='text' class='ui-corner-all inputText' id='21'></td>

		</tr>
		<tr>
			<td><label>23</label></td>
			<td><label>Pulse out setpoint   </label></td>
			<td><input style='width:40%' type='text' class='ui-corner-all inputText' id='23'></td>

		</tr>
<!-- 		

		<tr>
			<th class="channel-header" colspan="0"><a href="#"><b>If High and Low Alarms are installed:</b></a></th>
		</tr>
		
		<tr>
			<td><label>4</label></td>
			<td><label>Relay 0 mode</label></td>
			<td>
				<select style='width:40%' class="ui-corner-all" id='4'>
				<option value="0">Flow high</option>
				<option value="1">Flow low</option>
				<option value="2">Power high</option>
				<option value="3">Power low</option>
				<option value="4">∆t° high</option>
				<option value="5">∆t° low</option>
				<option value="6">feed t° high</option>
				<option value="7">feed t° low</option>
				<option value="8">return t° high</option>
				<option value="9">return t° low</option>
				</select>
			</td>
			<td id="index_4" class="show-writting-status" style="display:none"></td>
		</tr>
		
		<tr>
			<td><label>5</label></td>
			<td><label>Relay 1 mode</label></td>
			<td>
				<select style='width:40%' class="ui-corner-all" id='5'>
				<option value="0">Flow high</option>
				<option value="1">Flow low</option>
				<option value="2">Power high</option>
				<option value="3">Power low</option>
				<option value="4">∆t° high</option>
				<option value="5">∆t° low</option>
				<option value="6">feed t° high</option>
				<option value="7">feed t° low</option>
				<option value="8">return t° high</option>
				<option value="9">return t° low</option>
				</select>
			</td>
			<td id="index_5" class="show-writting-status" style="display:none"></td>
		</tr>
		
		<tr>
			<th class="channel-header" colspan="0"><a href="#"><b>If 4-20mA Output is installed:</b></a></th>
		</tr> -->
		
		<tr>
			<td><label>186</label></td>
			<td><label>K-factor unit</label></td>
			<td>
				<select style='width:40%' class="ui-corner-all" id='186'>
					<option value="0">00</option>
					<option value="1">01</option>
				</select>
			</td>
			<td id="index_186" class="show-writting-status" style="display:none"></td>
		</tr>
		
		<tr>
			<td><label>187</label></td>
			<td><label>Energy unit</label></td>
			<td>
				<select style='width:40%' class="ui-corner-all" id='187'>
					<option value="0">00</option>
					<option value="1">01</option>
					<option value="2">02</option>
					<option value="3">03</option>
					<option value="4">04</option>
					<option value="5">05</option>
					<option value="6">06</option>
				</select>
			</td>
			<td id="index_187" class="show-writting-status" style="display:none"></td>
		</tr>
		
		<tr>
			<td><label>188</label></td>
			<td><label>Volume unit</label></td>
			<td>
				<select style='width:40%' class="ui-corner-all" id='188'>
					<option value="0">00</option>
					<option value="1">01</option>
				</select>
			</td>
			<td id="index_188" class="show-writting-status" style="display:none"></td>
		</tr>
		
		<tr>
			<td><label>189</label></td>
			<td><label>Power unit</label></td>
			<td>
				<select style='width:40%' class="ui-corner-all" id='189'>
					<option value="0">00</option>
					<option value="1">01</option>
					<option value="2">02</option>
					<option value="3">03</option>
					<option value="4">04</option>
					<option value="5">05</option>
					<option value="6">06</option>
				</select>
			</td>
			<td id="index_189" class="show-writting-status" style="display:none"></td>
		</tr>
		
		<tr>
			<td><label>190</label></td>
			<td><label>Volume flow unit</label></td>
			<td>
				<select style='width:40%' class="ui-corner-all" id='190'>
					<option value="0">00</option>
					<option value="1">01</option>
					<option value="2">02</option>
				</select>
			</td>
			<td id="index_190" class="show-writting-status" style="display:none"></td>
		</tr>
		
	</table>
	<br />
	<button type='button' class='ui-state-default ui-corner-all ui-button' id='readingbutton' onclick="readConfig();">Read</button>
	<button type='button' class='ui-state-default ui-corner-all ui-button' id='writingbutton' onclick="writeConfig();">Write</button>
</div>
<script>
	$('button').mouseover(function(){
		$(this).removeClass('ui-state-default').addClass('ui-state-hover');
	});

	$('button').mouseout(function(){
		$(this).removeClass('ui-state-hover').addClass('ui-state-default');
	});
</script>