<label><b>Configuration</b></label>
</br>
</br>
</br>

<div id="device">
	
	
	<table id="configuration_" class='nicetable ui-widget' style="width:100%">
		<tr>
			<th class="channel-header" style="width:30%"><b>Index</b></th>
			<th class="channel-header" style="width:30%"><b>Register</b></th>
			<th class="channel-header" style="width:30%"><b>Value</b></th>
			<th class="show-writting-status" style="display:none;width:10%"></th>
		</tr>

		<tr>
			<td><label>501</label></td>
			<td><label>Slave ID</label></td>
			<td><input style='width:40%' type="number" class='ui-corner-all inputText' id='501' value='0'></td>
			<td id="index_501" class="show-writting-status" style="display:none"></td>
		</tr>
		
		<tr>
			<td><label>502</label></td>
			<td><label>Address</label></td>
			<td><input style='width:40%' type="number" class='ui-corner-all inputText' id='502' value='0'></td>
			<td id="index_502" class="show-writting-status" style="display:none"></td>
		</tr>
		
		<tr>
			<td><label>503</label></td>
			<td><label>Baudrate</label></td>
			<td><select style='width:40%' class="ui-corner-all" id='503'>
				<option value="9600">9600</option>
				<option value="19200">19200</option>
				<option value="38400">38400</option>
				<option value="57600">57600</option>
			</select></td>
			<td id="index_503" class="show-writting-status" style="display:none"></td>
		</tr>
	</table>
	<br />
	<button type='button' class='ui-state-default ui-corner-all ui-button' id='readingbutton' onclick="readConfig();">Read</button>
	<button type='button' class='ui-state-default ui-corner-all ui-button' id='writingbutton' onclick="writeConfig();">Write</button>
</div>

<script>
	$('button').mouseover(function(){
		$(this).removeClass('ui-state-default').addClass('ui-state-hover');
	});

	$('button').mouseout(function(){
		$(this).removeClass('ui-state-hover').addClass('ui-state-default');
	});
</script>