
<label><b>Configuration</b></label>
</br>
</br>
</br>

<div id="device">	
	<table id="configuration" class='nicetable ui-widget device_register' style="width:98%">
		<tr>
			<th class="channel-header" style="width:30%"><b>Index</b></th>
			<th class="channel-header" style="width:30%"><b>Register</b></th>
			<th class="channel-header" style="width:30%"><b>Value</b></th>
			<th class="show-writting-status" style="display:none;width:10%"></th>
		</tr>

		<tr>
			<td><label>5376</label></td>
			<td><label>Baudrate</label></td>
			<td><select style='width:40%' class="ui-corner-all" id='17125'>
					<option value="115200">115200</option>
					<option value="57600">57600</option>
					<option value="38400">38400</option>
					<option value="19200">19200</option>
					<option value="9600">9600</option>
					<option value="4800">4800</option>
					<option value="2400">2400</option>
				</select></td>
			<td id="index_5376" class="show-writting-status" style="display:none"></td>
		</tr>
		<tr>
			<td><label>5378</label></td>
			<td><label>Parity</label></td>
			<td><input style='width:40%' type='number' class='ui-corner-all inputText' id='5378' value='0'></td>
			<td id="index_5378" class="show-writting-status" style="display:none"></td>
		</tr>
	
		<tr>
			<td><label>5380</label></td>
			<td><label>Stop Bits</label></td>
			<td><input style='width:40%' type='number' class='ui-corner-all inputText' id='5380' value='0'></td>
			<td id="index_5380" class="show-writting-status" style="display:none"></td>
		</tr>
	
		<tr>
			<td><label>5382</label></td>
			<td><label>Meter Address</label></td>
			<td><input style='width:40%' type='number' class='ui-corner-all inputText' id='5382' value='0'></td>
			<td id="index_5382" class="show-writting-status" style="display:none"></td>
		</tr>
	
		<tr>
			<td><label>8192</label></td>
			<td><label>Pipe Inner Diameter</label></td>
			<td><input style='width:40%' type='number' class='ui-corner-all inputText' id='8192' value='0'></td>
			<td id="index_8192" class="show-writting-status" style="display:none"></td>
		</tr>
	
		<tr>
			<td><label>8194</label></td>
			<td><label>Pipe Outer Diameter</label></td>
			<td><input style='width:40%' type='number' class='ui-corner-all inputText' id='8194' value='0'></td>
			<td id="index_8194" class="show-writting-status" style="display:none"></td>
		</tr>
	
		<tr>
			<td><label>8196</label></td>
			<td><label>Pipe Wall Thickness</label></td>
			<td><input style='width:40%' type='number' class='ui-corner-all inputText' id='8196' value='0'></td>
			<td id="index_8196" class="show-writting-status" style="display:none"></td>
		</tr>
	
		<tr>
			<td><label>8198</label></td>
			<td><label>Pipe Soundspeed</label></td>
			<td><input style='width:40%' type='number' class='ui-corner-all inputText' id='8198' value='0'></td>
			<td id="index_8198" class="show-writting-status" style="display:none"></td>
		</tr>
	
		<tr>
			<td><label>8200</label></td>
			<td><label>Lining Thickness</label></td>
			<td><input style='width:40%' type='number' class='ui-corner-all inputText' id='8200' value='0'></td>
			<td id="index_8200" class="show-writting-status" style="display:none"></td>
		</tr>
	
		<tr>
			<td><label>8202</label></td>
			<td><label>Lining Soundspeed</label></td>
			<td><input style='width:40%' type='number' class='ui-corner-all inputText' id='8202' value='0'></td>
			<td id="index_8202" class="show-writting-status" style="display:none"></td>
		</tr>
	
		<tr>
			<td><label>8204</label></td>
			<td><label>XDR wedge angle</label></td>
			<td><input style='width:40%' type='number' class='ui-corner-all inputText' id='8204' value='0'></td>
			<td id="index_8204" class="show-writting-status" style="display:none"></td>
		</tr>
		
		<tr>
			<td><label>8206</label></td>
			<td><label>XDR wedge time</label></td>
			<td><input style='width:40%' type='number' class='ui-corner-all inputText' id='8206' value='0'></td>
			<td id="index_8206" class="show-writting-status" style="display:none"></td>
		</tr>
		
		<tr>
			<td><label>8208</label></td>
			<td><label>Wedge Sound Speed</label></td>
			<td><input style='width:40%' type='number' class='ui-corner-all inputText' id='8208' value='0'></td>
			<td id="index_8208" class="show-writting-status" style="display:none"></td>
		</tr>
		
		<tr>
			<td><label>8210</label></td>
			<td><label>Fluid Sound Speed</label></td>
			<td><input style='width:40%' type='number' class='ui-corner-all inputText' id='8210' value='0'></td>
			<td id="index_8210" class="show-writting-status" style="display:none"></td>
		</tr>
		
		<tr>
			<td><label>8212</label></td>
			<td><label>Fluid Sound speed Min</label></td>
			<td><input style='width:40%' type='number' class='ui-corner-all inputText' id='8212' value='0'></td>
			<td id="index_8212" class="show-writting-status" style="display:none"></td>
		</tr>
		
		<tr>
			<td><label>8214</label></td>
			<td><label>Fluid Sound speed Max</label></td>
			<td><input style='width:40%' type='number' class='ui-corner-all inputText' id='8214' value='0'></td>
			<td id="index_8214" class="show-writting-status" style="display:none"></td>
		</tr>
		
		<tr>
			<td><label>8216</label></td>
			<td><label>Fluid Static Density</label></td>
			<td><input style='width:40%' type='number' class='ui-corner-all inputText' id='8216' value='0'></td>
			<td id="index_8216" class="show-writting-status" style="display:none"></td>
		</tr>
		
		<tr>
			<td><label>8218</label></td>
			<td><label>Fluid Reference Density</label></td>
			<td><input style='width:40%' type='number' class='ui-corner-all inputText' id='8218' value='0'></td>
			<td id="index_8218" class="show-writting-status" style="display:none"></td>
		</tr>
		
		<tr>
			<td><label>8220</label></td>
			<td><label>Fluid Temperature</label></td>
			<td><input style='width:40%' type='number' class='ui-corner-all inputText' id='8220' value='0'></td>
			<td id="index_8220" class="show-writting-status" style="display:none"></td>
		</tr>
		
		<tr>
			<td><label>8222</label></td>
			<td><label>XDR space</label></td>
			<td><input style='width:40%' type='number' class='ui-corner-all inputText' id='8222' value='0'></td>
			<td id="index_8222" class="show-writting-status" style="display:none"></td>
		</tr>
		
		<tr>
			<td><label>8224</label></td>
			<td><label>Calibration Factor</label></td>
			<td><input style='width:40%' type='number' class='ui-corner-all inputText' id='8224' value='0'></td>
			<td id="index_8224" class="show-writting-status" style="display:none"></td>
		</tr>
		
		<tr>
			<td><label>8226</label></td>
			<td><label>Kinematic Viscosity</label></td>
			<td><input style='width:40%' type='number' class='ui-corner-all inputText' id='8226' value='0'></td>
			<td id="index_8226" class="show-writting-status" style="display:none"></td>
		</tr>
		
		<tr>
			<td><label>8448</label></td>
			<td><label>Pipe Material</label></td>
			<td><input style='width:40%' type='number' class='ui-corner-all inputText' id='8448' value='0'></td>
			<td id="index_8448" class="show-writting-status" style="display:none"></td>
		</tr>
		
		<tr>
			<td><label>8450</label></td>
			<td><label>Lining Material</label></td>
			<td><input style='width:40%' type='number' class='ui-corner-all inputText' id='8450' value='0'></td>
			<td id="index_8450" class="show-writting-status" style="display:none"></td>
		</tr>
		
		<tr>
			<td><label>8452</label></td>
			<td><label>XDR Type</label></td>
			<td><input style='width:40%' type='number' class='ui-corner-all inputText' id='8452' value='0'></td>
			<td id="index_8452" class="show-writting-status" style="display:none"></td>
		</tr>
		
		<tr>
			<td><label>8454</label></td>
			<td><label>XDR Frequency</label></td>
			<td><input style='width:40%' type='number' class='ui-corner-all inputText' id='8454' value='0'></td>
			<td id="index_8454" class="show-writting-status" style="display:none"></td>
		</tr>
		
		<tr>
			<td><label>8456</label></td>
			<td><label>XDR wedge type</label></td>
			<td><input style='width:40%' type='number' class='ui-corner-all inputText' id='8456' value='0'></td>
			<td id="index_8456" class="show-writting-status" style="display:none"></td>
		</tr>
		
		<tr>
			<td><label>8458</label></td>
			<td><label>Fluid Type</label></td>
			<td><input style='width:40%' type='number' class='ui-corner-all inputText' id='8458' value='0'></td>
			<td id="index_8458" class="show-writting-status" style="display:none"></td>
		</tr>
		
		<tr>
			<td><label>8460</label></td>
			<td><label>Lining Existence</label></td>
			<td><input style='width:40%' type='number' class='ui-corner-all inputText' id='8460' value='0'></td>
			<td id="index_8460" class="show-writting-status" style="display:none"></td>
		</tr>
		
		<tr>
			<td><label>8462</label></td>
			<td><label>Traverse Number</label></td>
			<td><input style='width:40%' type='number' class='ui-corner-all inputText' id='8462' value='0'></td>
			<td id="index_8462" class="show-writting-status" style="display:none"></td>
		</tr>
	</table>
	<br />
	<button type='button' class='ui-state-default ui-corner-all ui-button' id='readingbutton' onclick="readConfig();">Read</button>
	<button type='button' class='ui-state-default ui-corner-all ui-button' id='writingbutton' onclick="writeConfig();">Write</button>
</div>

<script>
	$('button').mouseover(function(){
		$(this).removeClass('ui-state-default').addClass('ui-state-hover');
	});

	$('button').mouseout(function(){
		$(this).removeClass('ui-state-hover').addClass('ui-state-default');
	});
</script>